@import '../../style/theme/default.scss';
@import '../../style/mixins/index.scss';

.at-tag {
  display: inline-block;
  padding: 0 $spacing-h-xl;
  height: 60px;
  color: $color-grey-1;
  font-size: $font-size-base;
  text-align: center;
  line-height: calc(60px - 2PX);
  vertical-align: middle;
  border: 1PX solid $color-grey-6;
  border-radius: $border-radius-md;
  background-color: $color-bg-grey;
  box-sizing: border-box;

  &--active {
    color: $color-brand-light;
    border: 1PX solid $color-brand-light;
    background-color: $color-bg;

    &.at-tag--primary {
      color: $color-text-base-inverse;
      border: 1PX solid $color-brand-light;
      background-color: $color-brand-light;
    }
  }

  &--disabled {
    opacity: $opacity-disabled;
  }

  &--small {
    padding: 0 $spacing-h-md;
    height: 40px;
    font-size: $font-size-xs;
    line-height: calc(40px - 2PX);
  }

  &--circle {
    border-radius: 30px;
    background-clip: border-box;
    overflow: hidden;
  }
}
