@import '../../style/theme/default.scss';

$tag-height: 60px;
$tag-height-sm: 40px;

.at-tag {
  display: inline-block;
  padding: 0 $spacing-h-xl;
  height: $tag-height;
  color: $color-grey-1;
  font-size: $font-size-base;
  text-align: center;
  line-height: $tag-height - 4;
  vertical-align: middle;
  border: 2px solid $color-grey-6;
  border-radius: $border-radius-md;
  background-color: $color-bg-grey;
  box-sizing: border-box;

  &--active {
    color: $color-brand-light;
    border: 2px solid $color-brand-light;
    background-color: $color-bg;

    &.at-tag--primary {
      color: $color-text-base-inverse;
      border: 2px solid $color-brand-light;
      background-color: $color-brand-light;
    }
  }

  &--disabled {
    opacity: $opacity-disabled;
  }

  &--small {
    padding: 0 $spacing-h-md;
    height: $tag-height-sm;
    font-size: $font-size-xs;
    line-height: $tag-height-sm - 4;
  }

  &--circle {
    border-radius: $tag-height / 2;
    background-clip: border-box;
    overflow: hidden;
  }
}
