// 开发使用 `@import "~taro-ui/rn/style/index.scss"` 实时编译
// 或者开发在 taro-ui 库里面引入对应的 components/scss 则不需要编译 app.scss
@import "~taro-ui/dist/style/index.scss";

/*  #ifndef  rn  */
#app {
  background-color: #f8f8f8;
}

view {
  box-sizing: border-box;
}

/*  #endif  */

.at-frozen {
  /*  #ifndef  rn  */
  position: fixed;
  /*  #endif  */
  /*  #ifdef  rn  */
  position: absolute;
  /*  #endif  */
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  /*  #ifndef  rn  */
  box-sizing: border-box;
  min-height: 100vh;
  /*  #endif  */
  /*  #ifdef  rn  */
  flex: 1;
  /*  #endif  */
  background-color: #f8f8f8;
}




// 实例模板
.example {
  padding: 10px 20px;
  margin-bottom: 10px;

  /*  #ifndef  rn  */
  &:not(:first-child) {
    border-top: 40px solid #f5f5f5;
  }

  /*  #endif  */


  &__header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-style: solid;
    border-bottom-color: $color-grey-4;
    border-bottom-width: 1px;

    &-title {
      color: $color-grey-2;
      font-size: 28px;
    }

    &-note {
      font-size: 24px;
      margin-left: 20px;
      color: $color-grey-3;
    }
  }
}

/**
 * Example 样式
 */
.panel__content {
  &--example-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &--subitem {
       /*  #ifndef  rn  */
      display: inline-block;
        /*  #endif  */
      margin-left: 24px;
    }

    &__desc {
      margin-bottom: 12px;
      color: #333;
      font-size: 24px;
    }
  }
}

.doc-body {
  /*  #ifndef  rn  */
  min-height: calc(100vh - 180px);
  padding-bottom: calc(constant(safe-area-inset-bottom) + 60px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 60px);
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
  /*  #endif  */
  /*  #ifdef  rn  */
  flex: 1;
  /*  #endif  */
  background: #fff;
  padding-bottom: 60px;


  &--panel {
    margin: 32px 0 56px;

    &__content {
      padding: 0 20px;
    }
  }
}

.panel__title {
  position: relative;
  margin-bottom: 50px;
  padding-left: 50px;
  color: #6a6a77;
  font-size: 32px;
  font-weight: bold;

  /*  #ifdef  rn  */
  margin-left: 20px;
  padding-left: 20px;
  border-left-width: 5px;
  border-left-color: #6190e8;
  /*  #endif  */


  /*  #ifndef  rn  */
  padding-left: 50px;
  line-height: 1.5;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 50%;
    margin-top: -20px;
    width: 2PX;
    height: 40px;
    background-color: #6190e8;
    box-shadow: 0 7px 12px 0 rgba(97, 144, 232, 0.2);
    border-radius: 1PX;
  }

  /*  #endif  */
}

.no-padding {
  padding: 0;
}

.red {
  background-color: red;
}

.flex-grow {
  flex: 1;
}
