@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-tab-bar {
  display: flex;
  width: 100%;
  min-height: 50px;
  padding: $spacing-v-sm 0 $spacing-v-xs;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
  background-color: $color-bg;
  @include hairline-top();

  &__item {
    flex: 1;
    padding: $spacing-v-sm $spacing-v-sm 0;
    color: $color-text-base;
    font-size: $font-size-xs;
    transition: all 0.2s;
  }

  &__title {
    display: block;
    padding: $spacing-v-xs 0;
    max-width: 200px;
    font-size: $font-size-xs;
    line-height: $line-height-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  &--ipx {
    &.at-tab-bar--fixed {
      padding-bottom: 68px;
    }
  }
}
