@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-tab-bar {
  display: flex;
  width: 100%;
  min-height: 50px;
  padding: $spacing-v-sm 0;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: start;
  background-color: $color-bg;
  @include border-thin-top;

  &__item {
    flex: 1;
    font-size: $font-size-base;
    padding: $spacing-v-xs;
    color: $color-black-1;
  }

  &__title {
    display: block;
    max-width: 200px;
    font-size: $font-size-base;
    padding: $spacing-v-xs 0;
    line-height: $line-height-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
  }
}
