.panel__content {
  &--badge-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    &--subitem {
      display: flex;
      flex-direction: row;
      margin-left: 24px;
    }
  }
}