@import "../../style/theme/default.scss";

$pagination-margin: 40px;
$pagination-height: 60px;

.at-pagination {
  position: relative;
  margin: 0 $pagination-margin;
  font-size: 0;
  overflow: hidden;

  &__btns {
    display: flex;

    &-prev {
      flex: 1;
      text-align: left;
    }

    &-next {
      flex: 1;
      text-align: right;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: $pagination-height;
    color: $color-text-base;
    font-size: $font-size-base;
    text-align: center;
    line-height: $pagination-height;
    overflow: hidden;
    transform: translateX(-50%);

    &-current {
      color: $color-brand;
    }
  }
}

