.at-input-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e5e5e5 solid 1px;
  border-radius: 8px;
  width: 100%;
  background-color: #fff;
  font-size: 30px;

  &__btn {
    flex: 1;
    text-align: center;
    color: #6190e8;
    cursor: pointer;

    &--disabled {
      color: #e5e5e5;
    }
  }

  &__input {
    flex: 2;
    text-align: center;
    border-left: #e5e5e5 solid 1px;
    border-right: #e5e5e5 solid 1px;
  }
}
