@import '../../style/theme/default.scss';

.at-input-number {
  display: inline-flex;
  border: $border;
  border-radius: $border-radius-md;
  background-color: $color-bg;
  font-size: $font-size-base;
  overflow: hidden;

  &__btn {
    font-size: $font-size-base;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: $spacing-v-xs;
    vertical-align: -20px;
    overflow: hidden;
    height: auto;
    position: relative;
  }

  &__input {
    display: inline-flex;
    min-width: 50px;
    max-width: 80px;
    height: auto;
    padding: $spacing-v-xs;
    text-align: center;
    font-size: $font-size-base;
    border-left: $border;
    border-right: $border;
  }
}
