@import '../../style/theme/default.scss';
@import "../../style/mixins/index.scss";

$input-number-btn-padding: 20px;
$input-number-size-min: 120px;

.at-input-number {
  display: inline-flex;
  @include border-thin;

  font-size: $font-size-xl;
  border-radius: $border-radius-md;
  background-color: $color-bg;
  overflow: hidden;

  &__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $input-number-btn-padding;
    font-size: $font-size-xl;
    text-align: center;
    line-height: 1;
    overflow: hidden;
    @include active;
  }

  &__input {
    display: inline-block;
    padding: $spacing-v-sm;
    width: $input-number-size-min;
    height: auto;
    font-size: $font-size-xl;
    text-align: center;
    line-height: $line-height-zh;
    @include border-thin($directions:left right);
  }
}
