@import "../../style/theme/default.scss";
@import "../../style/mixins/index.scss";

.at-radio {
  background-color: $color-bg;
  @include hairline-top-bottom();

  &__option_wrap {
    padding: $spacing-v-lg $spacing-h-xl $spacing-v-lg 0;
  }

  &__option_container {
    display: flex;
  }

  &__title {
    flex: 6;
    color: $color-text-base;
    font-size: $font-size-lg;
    text-align: left;
    line-height: $line-height-zh;
  }

  &__icon {
    flex: 1;
    text-align: right;
    font-size: $font-size-lg;
    overflow: hidden;
    visibility: hidden;

    &--checked {
      visibility: visible;
    }
  }

  &__desc {
    display: block;
    width: 86%;
    text-align: left;
    font-size: $font-size-sm;
    color: $color-grey-2;
    letter-spacing: 0;
    line-height: $line-height-zh;
  }

  &__option {
    padding-left: $spacing-h-xl;
    @include active;

    &--disabled {
      .at-radio__option_container,
      .at-radio__desc {
        opacity: $opacity-disabled;
      }

      &:active {
        background-color: $color-bg;
      }
    }
  }

  &__option + &__option {
    .at-radio__option_wrap {
      @include hairline-top();
    }
  }
}
