.at-radio {
  background-color: #fff;

  &__icon {
    flex: 1;
    text-align: right;
    visibility: hidden;
  }

  &__option {
    display: flex;
    padding: 13px 13px 13px 0;
    margin-left: 30px;
    align-items: center;

    &--selected {
      .at-radio__icon {
        visibility: visible !important;
      }
    }

    + .at-radio__option {
      border-top: #e5e5e5 solid 1px;
    }
  }

  &__title {
    flex: 6;
    font-size: 28px;
    text-align: left;
  }
}
