.at-input {
  background-color: #fff;

  + .at-input .at-input__border {
    border-top: #e9eaec solid 1px;
  }

  .at-input__border {
    padding: 22px 0;
    margin-left:22px;
    display: flex;
    align-items: center;
  }

  .at-input__title {
    flex:2;
    margin-right:20px;
    font-size: 28px;
    vertical-align: middle;
    text-align: left;
  }

  .at-input__input {
    flex:5;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .at-input__icon {
    flex:1;
    text-align: center;
    visibility: hidden;
  }

  &--error {
    color:#e93b3d;

    .at-input__icon {
      visibility: visible;
    }
  }
}
