@import '../../style/theme/default.scss';
@import "../../style/mixins/index.scss";

.at-input {
  background-color: $color-bg;
  padding: $spacing-v-md 0;
  @include border-thin-bottom;

  &__container {
    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1;
    font-size: $font-size-base;
    line-height: normal;
    padding-right: $spacing-v-md;
    display: inline-block;
    vertical-align: middle;
  }

  input {
    height: auto !important;
    min-height: auto !important;
  }

  &__icon {
    display: inline-block;
    padding-right: $spacing-v-md;
    text-align: center;
    font-size: $font-size-base;
  }

  &__title {
    width: 150px;
    margin-right: $spacing-h-md;
    font-size: $font-size-base;
    line-height: $line-height-zh;
    vertical-align: middle;
    text-align: left;
  }

  &__children {
    display: inline-flex;
    @include border-thin-left;

    > view,
    div,
    span,
    text,
    image,
    .taro-img {
      font-size: $font-size-base;
      display: inline-block;
      text-align: center;
      padding: 0 $spacing-v-md;
      color: $color-brand-dark;
    }

    > image,
    img,
    .taro-img {
      display: inline-block;
      width: 145px;
      height: 60px;
      vertical-align: middle;
    }
  }

  &--error {
    color: $color-error;
  }

  &--disabled {
    opacity: $opacity-disabled;
  }
}
