@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-input {
  background-color: #fff;
  padding: 22px 0;
  display: flex;
  align-items: center;
  border-bottom: #e5e5e5 solid 1px;

  &__input {
    flex: 1;
    font-size: 24px;
    padding: 0 12px;
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    padding: 0 6px;
    text-align: center;
    font-size: 20px;
  }

  &__title {
    width: 150px;
    margin-right: 20px;
    font-size: 28px;
    vertical-align: middle;
    text-align: left;
  }

  &__children {
    display: inline-flex;
    border-left: #e7e7e7 solid 1px;

    > view,
    div,
    span,
    text,
    image,
    .taro-img {
      font-size: 28px;
      display: inline-block;
      padding: 0 20px;
      color: #78a4fa;
    }

    > image,
    img,
    .taro-img {
      display: inline-block;
      width: 140px;
      height: 60px;
      vertical-align: middle;
    }
  }

  &--error {
    color: #e93b3d;
  }

  &--disabled {
    opacity: $opacity-disabled;
  }
}
