@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-swipe-action {
  position: relative;
  overflow: hidden;

  &__content {
    background-color: white;
    position: relative;
    z-index: 2;
    font-size: $font-size-lg;

    &.animtion {
      transition: transform 300ms $timing-func;
    }
  }

  &__option {
    @include active;
    @include align-items(center);

    height: 100%;
    background-color: $color-grey-2;
    display: inline-flex;
    color: $color-white;
    font-size: $font-size-base;
    padding: 0 $spacing-h-xl;
    text-align: center;
  }
}
