.tab-content {
  padding: 100px 50px;
  font-size: 30px;
  text-align: center;
  background-color: #FAFBFC;
}

.tab-content--vertical {
  height: 200PX;
  padding: 100PX 50px;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  background-color: #FAFBFC;
}
