@import '../../style/theme/default.scss';

.at-badge {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;

  &__dot {
    position: absolute;
    right: -6px;
    top: -6px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    background: #FF4949;
    box-shadow: 0 4px 8px 0 rgba(233, 59, 61, 0.20);
  }

  &__num {
    font-size: $font-size-xs;
    color: #fff;
    height: 28px;
    line-height: 28px;
    position: absolute;
    right: 0;
    top: -14px;
    transform: translate(50%, 0);
    padding: 0 $spacing-h-sm;
    border-radius: 20px 20px 20px 0;
    overflow: hidden;
    background: #FF4949;
    box-shadow: 0 4px 8px 0 rgba(233, 59, 61, 0.20);
  }
}
