{
  "extends": ["o2team", "taro"],
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": "off",
    "prefer-rest-params": "off",
    "arrow-body-style": "warn",
    "taro/custom-component-children": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }]
  },
  "overrides": [
    {
      "files": ["build/*.js"],
      "rules": {
        "import/no-commonjs": "off"
      }
    }
  ]
}
