{
  "extends": ["o2team", "taro"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "prefer-rest-params": "off",
    "arrow-body-style": "warn",
    "taro/custom-component-children": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }]
  },
  "overrides": [
    {
      "files": ["build/*.js"],
      "rules": {
        "import/no-commonjs": "off"
      }
    },
    {
      "files": ["src/components/**/*.test.js", "src/components/**/test.js"],
      "rules": {
        "taro/no-stateless-component": "off",
        "react/react-in-jsx-scope": "off",
        "react/no-find-dom-node": "off",
        "no-unused-vars": ["error", { "varsIgnorePattern": "Nerv" }]
      }
    },
    {
      "files": ["**/*.ts","**/*.tsx"],
      "parser": "typescript-eslint-parser",
      "plugins": ["react", "typescript"],
      "env": {
        "jest": true
      },
      "rules": {
        "no-undef": 0,
        "no-unused-vars": 0,
        "typescript/class-name-casing": 2,
        "class-methods-use-this": "off",
        "prefer-rest-params": "off",
        "arrow-body-style": "warn",
        "react/jsx-filename-extension": [
          2,
          { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
        ],
        "taro/custom-component-children": "off"
      }
    }
  ]
}
