node_modules/

yarn-error.log
package-lock.json
project.config.json

.temp
.DS_Store
.vscode
.eslintcache
.babelrc

site/
docs/h5/

coverage

.idea

# taro-ui outputs
lib/
dist/

# rollup visualizer file
stats.html
