@import "../../style/theme/default.scss";
@import "../../style/mixins/index.scss";

.at-indexes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

  &__content {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__menu {
    position: fixed;
    top: 50%;
    right: 0;
    overflow: hidden;
    transform: translate3d(0, -50%, 0);
    z-index: $zindex-indexes;
  }

  &__menu-item {
    padding: 2px $spacing-h-sm;
    color: $color-link;
    font-size: $font-size-sm;
    text-align: center;
  }

  &__body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &__list {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__list-title {
    padding: $spacing-h-sm $spacing-v-lg;
    width: 100%;
    color: $color-black-2;
    font-size: $font-size-sm;
    background-color: $color-grey-6;
    box-sizing: border-box;
    overflow: hidden;
  }
}
