.panel-header {
  display: flex;
  align-items: center;
  padding: 60px;
  height: 180px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #78A4FA;
    text-align: center;
    background: #fff;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.11);
    border-radius: 10px;
  }

  &__title {
    margin-left: 32px;
    color: #78A4FA;
    font-size: 36px;
    font-weight: bold;
  }
}

.panel-body {
  min-height: calc(100vh - 180px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
}

.component-list {
  margin: 20px 60px 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid #D8D8D8;

    .name {
      color: #1D1D26;
      font-size: 28px;
    }
  }
}

.doc-header {
  display: flex;
  align-items: center;
  padding: 60px;
  height: 180px;

  &__title {
    height: 98px;
    border-bottom: 4px solid #6190E8;
    border-radius: 2px;
  }
}

.doc-body {
  min-height: calc(100vh - 180px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);

  .panel {
    margin: 32px 0 50px;

    &__title {
      position: relative;
      margin-bottom: 50px;
      padding-left: 28px;
      color: #6A6A77;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.5;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -20px;
        width: 6px;
        height: 40px;
        background-color: #6190E8;
        box-shadow: 0 7px 12px 0 rgba(97, 144, 232, 0.20);
        border-radius: 3px;
      }
    }
  }
}
