.at-button {
  width: 710px;
  height: 92px;
  line-height: 92px;
  text-align: center;
  border-radius: 8px;
  font-size: 32px;
  margin: 0 auto;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;

  &--active {
    opacity: 0.6;
  }

  &--disabled {
    opacity: 0.3;
  }

  &--primary {
    background-color: rgba(92, 137, 228, 1);
    color: #fff;
    border: 2px solid rgba(92, 137, 228, 1);
  }

  &--secondary {
    background-color: #fff;
    color: #333;
    box-sizing: border-box;

    &--active {
      opacity: 0.6;
    }

    &--disabled {
      opacity: 0.3;
    }

    &--primary {
      background-color: rgba(92, 137, 228, 1);
      color: #fff;
      border: 2px solid rgba(92, 137, 228, 1);
    }

    &--secondary {
      background-color: #fff;
      color: rgba(92, 137, 228, 1);
      border: 2px solid rgba(92, 137, 228, 1);
    }

    &--small {
      width: 120px;
      height: 60px;
      line-height: 60px;
      display: inline-block;
      font-size: 28px;
    }

    &--circle {
      border-radius: 100px;
      overflow: hidden;
      background-clip: border-box;
    }
  }
}
