@import '../../style/theme/default.scss';
@import '../../style/mixins/index.scss';

$at-button-height: 92px;
$at-button-height-sm: 60px;

.at-button {
  margin: 0 auto;
  padding: 0 $spacing-h-xl;
  width: 710px;
  height: $at-button-height;
  color: $color-text-base;
  font-size: $font-size-lg;
  line-height: $at-button-height - 4;
  text-align: center;
  border-radius: $border-radius-md;
  border: 2px solid $color-border-base;
  box-sizing: border-box;
  @include line();

  &:active {
    opacity: 0.6;
  }

  &--active {
    opacity: 0.6;
  }

  &--disabled {
    opacity: 0.3;

    &:active {
      opacity: 0.3;
    }
  }

  &--primary {
    background-color: rgba(92, 137, 228, 1);
    color: #fff;
    border: 2px solid rgba(92, 137, 228, 1);
  }

  &--secondary {
    background-color: #fff;
    color: rgba(92, 137, 228, 1);
    border: 2px solid rgba(92, 137, 228, 1);
  }

  &--small {
    display: inline-block;
    padding: 0 $spacing-h-md;
    width: auto;
    min-width: 100px;
    max-width: 710px;
    height: $at-button-height-sm;
    font-size: $font-size-base;
    line-height: $at-button-height-sm - 4;
  }

  &--circle {
    border-radius: 100px;
    overflow: hidden;
    background-clip: border-box;
  }

  &__icon {
    margin: 0 20px;
    display: inline-block;
    animation: loading-rotate 1s linear infinite;
    transform-origin: 50% 51.2%;
  }

  &__text {
    display: inline;
  }
}

@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
  }
}
