@import '../mixins/index.scss';
@import '../variables/default.scss';

$at-activity-indicator-font-size: 28px;

.at-activity-indicator {
  @include display-flex();

  line-height: $line-height-base;

  /* elements */
  &__body {
    @include flex(0, 0, auto);

    line-height: 0;
  }

  &__content {
    @include flex(0, 0, auto);
    @include align-self(center);

    margin-left: $spacing-h-lg;
    color: $color-grey-2;
    font-size: $at-activity-indicator-font-size;
  }

  /* modifiers */
  &--center {
    @include absolute-center;
  }
}
