@import '../mixins/index.scss';
@import '../variables/default.scss';

$at-divider-height: 112px;
$at-divider-line-color: $color-brand;

.at-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: $at-divider-height;
  font-size: $font-size-base;
  text-align: center;

  /* elements */
  &__content {
    display: inline-block;
    position: relative;
    padding: 0 $spacing-h-lg;
    background: $color-bg;
    z-index: $zindex-divider + 1;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1PX;
    background-color: $at-divider-line-color;
    z-index: $zindex-divider;
  }
}
