@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-floating-button {
  position: fixed;
  cursor: pointer;
  color: #F2F1EF;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3Px 9Px 2Px #BFBFBF;
  z-index: 1000000;
}
