@import '../mixins/index.scss';
@import '../variables/default.scss';

$at-tabs-pane-min-height: 100px;

.at-tabs {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* elements */
  &__item {
    position: relative;
    flex: 1;
    padding: $spacing-v-lg $spacing-h-lg;
    color: $at-tabs-color;
    font-size: $at-tabs-font-size;
    text-overflow: ellipsis;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $at-tabs-line-height;
      background-color: $at-tabs-color-active;
      transform: scaleX(0);
      transition: all 0.15s;
    }

    &--active {
      color: $at-tabs-color-active;

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: $at-tabs-bg-color;
    box-sizing: border-box;
    overflow: -moz-scrollbars-none;

    &--scroll {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;

      .at-tabs__item {
        display: inline-block;
        overflow: visible;
      }
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
      height: 0 !important;
      background: transparent;
    }
  }

  &__body {
    display: block;
    width: 100%;
    white-space: nowrap;
    transition: all 0.3s;
    will-change: transform, left, top;
    overflow: visible;
  }

  &__underline {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    width: 600%;
    height: $at-tabs-line-height;
    background-color: $at-tabs-underline-color;
  }

  /* modifiers */
  &--vertical {
    display: flex;
    flex: 1;
    overflow: hidden;

    .at-tabs__body {
      display: inline-block;
      flex: 1;
      height: $at-tabs-pane-min-height;
      width: auto;
    }

    .at-tabs__underline {
      top: 0;
      left: 0;
      bottom: auto;
      width: $at-tabs-line-height;
      height: 100%;
    }

    .at-tabs__header {
      display: inline-block;
      width: auto;
    }

    .at-tabs__item {
      display: flex;
      justify-content: center;
      width: auto;
      align-items: center;

      &::after {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: $at-tabs-line-height;
        height: 100%;
        transform: scaleY(0);
      }
    }

    .at-tabs__item--active::after {
      transform: scaleY(1);
    }
  }
}

.at-tabs-pane {
  display: inline-block;
  width: 100%;
  white-space: initial;
  box-sizing: border-box;

  /* modifiers */
  &--active {
    height: auto;
  }

  &--inactive {
    height: 0;
    overflow: visible;
  }

  &--vertical {
    display: block;
    height: 100%;
    overflow: scroll;
  }
}
