@import '../../style/theme/default.scss';
@import "../../style/mixins/index.scss";

.at-form {
  display: block;
  padding-left: $spacing-h-lg;
  background-color: $color-bg;
  @include border-thin($directions: bottom top);

  overflow: hidden;
}
