@import '../../style/theme/default.scss';

.at-form {
  display: block;
  padding-left: $spacing-h-lg;
  background-color: $color-bg;
  border-bottom: $border;
  border-top: $border;
  overflow: hidden;
}
