@import "../../style/mixins/index.scss";

.at-textarea {
  background-color: #fff;
  font-size: 28px;
  padding: 15px;
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  box-sizing: border-box;

  &__textarea {
    height: 100px;
    width: 100%;
    outline: none;
    resize: none;
  }

  &__bottom {
    width: 100%;
    text-align: right;
    font-size: 24px;
    color: #ccc;
  }
}
