.at-textarea {
  background-color: #fff;
  font-size: 28px;
  padding: 30px 25px;
  width: 100%;
  box-sizing: border-box;

  &__textarea {
    height: 168px;
    width: 100%;
    outline: none;
    resize: none;
  }

  &__bottom {
    width: 100%;
    text-align: right;
    font-size: 24px;
    color: #ccc;
  }
}
