@import "../../style/mixins/index.scss";
@import '../../style/theme/default.scss';

.at-textarea {
  background-color: $color-bg;
  font-size: $font-size-base;
  padding: $spacing-v-sm $spacing-h-sm;
  width: 100%;
  border-radius: $border-radius-md;
  box-sizing: border-box;
  @include border-thin;

  &__textarea {
    height: 100px;
    width: 100%;
    outline: none;
    resize: none;
  }

  &__bottom {
    width: 100%;
    text-align: right;
    font-size: $font-size-sm;
    color: $color-grey-3;
  }

  &--error {
    color: $color-error;
  }
}
