@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-list {
  @include border-thin-top;

  position: relative;

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $color-border-lighter;

    /* prettier-ignore */
    height: 1PX;
  }

  &::before {
    content: " ";
    left: 0;
    width: $spacing-h-xl;
    z-index: 100;
    position: absolute;
    background-color: $color-white;

    /* prettier-ignore */
    height: calc(100% - 2PX);

    /* prettier-ignore */
    top: 1PX;
  }
}
