@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-list {
  @include border-thin-top;

  position: relative;
  background-color: white;

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $color-border-lighter;

    /* prettier-ignore */
    height: 1PX;
  }

  &::before {
    content: " ";
    left: 0;
    width: $spacing-v-lg;
    z-index: 100;
    position: absolute;
    background-color: transparent;

    /* prettier-ignore */
    height: calc(100% - 1PX);
    top: 0;
  }
}
