@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-list {
  background-color: white;
  @include hairline-top-bottom();

  &--no-border {
    &::after,
    &::before {
      content: initial;
      border: none;
    }
  }
}
