@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

$grid-img-size: 80px;
$gird-img-size-sm: 50px;

.at-grid__flex {
  @include display-flex;

  &-item {
    position: relative;
    @include hairline-surround();

    &::after {
      border-top: none;
      border-left: none;
    }
  }

  &:last-child {
    .at-grid__flex-item::after {
      border-bottom: none;
    }
  }
}

.at-grid__flex .content-inner {
  &__text {
    flex: 0 0 auto;
    margin-top: 12px;
    color: $color-text-base;
    font-size: $font-size-lg;
    line-height: $line-height-zh;
  }

  &__icon {
    flex: 0 0 auto;
    line-height: 1;
  }

  &__img {
    width: $grid-img-size;
    height: $grid-img-size;
  }
}

.at-grid-item--last {
  &::after {
    border-right: none;
  }
}

.at-grid-item--rect .content-inner {
  &__text {
    margin-left: 12px;
    margin-top: initial;
  }
}

.at-grid__flex .at-grid-item {
  @include flex(1);

  display: block;
  position: relative;

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &-inner {
      @include display-flex;
      @include align-items(center);
      @include justify-content(center);
      @include active;

      height: 100%;
      flex-direction: column;
    }
  }

  &--square {
    &::before {
      display: block;
      content: " ";
      padding-bottom: 100%;
    }
  }

  &--rect {
    &::before {
      display: block;
      content: " ";
      padding-bottom: 130px;
    }

    .at-grid-item__content-inner {
      flex-direction: row;

      &__text {
        margin-top: initial;
      }

      .content-inner__img {
        width: $gird-img-size-sm;
        height: $gird-img-size-sm;
      }
    }
  }

  &--no-border {
    &::after {
      border: none;
    }
  }

  &--active {
    background-color: $color-grey-6;
  }
}
