@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-tabs {
  overflow: hidden;

  &__item {
    position: relative;
    flex: 1;
    font-size: 30px;
    padding: 20px;
    color: $color-text-base;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1PX;
      background-color: $color-brand;
      transform: scaleX(0);
      transition: all 0.15s;
    }

    &--active {
      color: $color-brand;

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__header {
    position: relative;
    background-color: $color-bg;
    display: flex;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: -moz-scrollbars-none;

    &--scroll {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;

      .at-tabs__item {
        display: inline-block;
        overflow: visible;
      }
    }

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  &__body {
    display: block;
    font-size: 0;
    white-space: nowrap;
    transition: all 0.3s;
    width: 100%;
  }
}
