@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-tabs {
  &__item {
    flex: 1;
    font-size: 30px;
    padding: 20px;
    color: $color-text-base;
  }

  &__header {
    background-color: $color-bg;
    display: flex;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;

    &--scroll {
      overflow-x: auto;
      white-space: nowrap;

      .at-tabs__item {
        display: inline-block;
      }
    }
  }

  &__body {
    display: block;
    font-size: 0;
    white-space: nowrap;
    transition: all 0.3s;
  }
}
