@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-tabs {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__item {
    position: relative;
    flex: 1;
    padding: $spacing-v-lg $spacing-h-lg;
    font-size: $font-size-base;
    color: $color-text-base;
    text-overflow: ellipsis;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1PX;
      background-color: $color-brand;
      transform: scaleX(0);
      transition: all 0.15s;
      z-index: $zindex-tab;
    }

    &--active {
      color: $color-brand;

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    background-color: $color-bg;
    overflow: -moz-scrollbars-none;

    &--scroll {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;

      .at-tabs__item {
        display: inline-block;
        overflow: visible;
      }
    }

    &::-webkit-scrollbar {
      height: 0 !important;
      width: 0 !important;
    }
  }

  &__body {
    display: block;
    white-space: nowrap;
    transition: all 0.3s;
    width: 100%;
    overflow: visible;
    will-change: transform, left, top;
  }

  &__underline {
    content: '';
    position: absolute;
    background-color: $color-grey-5;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    width: 600%;
    height: 1PX;
    z-index: $zindex-tab - 1;
  }

  &--vertical {
    display: flex;
    flex: 1;
    overflow: hidden;

    .at-tabs__body {
      display: inline-block;
      flex: 1;
      height: 200px;
      width: auto;
    }

    .at-tabs__underline {
      top: 0;
      left: 0;
      bottom: auto;
      width: 1PX;
      height: 100%;
      z-index: $zindex-tab - 1;
    }

    .at-tabs__header {
      display: inline-block;
      width: auto;
    }

    .at-tabs__item {
      display: flex;
      justify-content: center;
      width: auto;
      align-items: center;

      &::after {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        width: 1PX;
        height: 100%;
        transform: scaleY(0);
        z-index: $zindex-tab;
      }
    }

    .at-tabs__item--active::after {
      transform: scaleY(1);
    }
  }
}
