@import "../../../style/mixins/index";
@import "../../../style/theme/default";

.at-modal-header {
  @include hairline-bottom($color: $color-grey-4);
  @include line(1);

  color: $color-text-base;
  font-size: $font-size-lg;
  padding: $spacing-v-md $spacing-h-lg;
  text-align: center;
}
