@import '~at-ui-style/src/variables/index.scss';
@import '~at-ui-style/src/mixins/index.scss';

$bg-color: #F8FAFF;
$drop-shadow: 0 4px 30px 0 rgba(223, 225, 230, 0.5);
$padding: 120px;
$section-top: 200px;

.wrapper {
  position: relative;
  min-width: 1080px;
  min-height: 100vh;
  overflow: scroll;
}

.bg-container {
  position: relative;
  width: 100%;
  height: 1200px;
  background-image: linear-gradient(117deg, #6B46E3 0%, #5264EE 50%, #55A0EB 100%);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 85%;
    width: 100%;
    height: 350px;
    background: #F8FAFF;
    transform: skewY(-7deg);
  }

  .bg-top-border {
    position: absolute;
    width: 540px;
    height: 150px;
    top: -50px;
    right: 50px;
    transform: skew(4deg, -4deg);
    border: 1px solid #FFF;
    border-radius: 40px;
    opacity: 0.2;
  }

  .bg-top-shadow {
    position: absolute;
    width: 540px;
    height: 150px;
    top: -70px;
    right: 90px;
    transform: skew(4deg, -4deg);
    background-color: #FFF;
    border-radius: 40px;
    opacity: 0.08;
  }

  .bg-bottom-border {
    position: absolute;
    width: 540px;
    height: 360px;
    bottom: 30px;
    left: -70px;
    transform: skew(7deg, -7deg);
    border: 1px solid #FFF;
    border-radius: 40px;
    opacity: 0.2;
  }

  .bg-bottom-shadow {
    position: absolute;
    width: 540px;
    height: 360px;
    bottom: 0;
    left: -20px;
    transform: skew(7deg, -7deg);
    background-color: #FFF;
    border-radius: 40px;
    opacity: 0.08;
  }

  .info-container {
    position: relative;
    margin: 0 auto;
    padding-top: 260px;
    width: 90%;
    max-width: 1200px;
    color: #fff;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;

    h1 {
      text-align: left;
      color: #fff;
      font-weight: 300;
      font-size: 40px;
      letter-spacing: 0;
    }

    .info-desc {
      margin-top: 20px;
      text-align: left;
      font-size: 24px;
      color: #FFF;
      letter-spacing: 0;
    }
  }

  .img-container {
    position: absolute;
    top: 240px;
    right: 0;
    // top: $section-top;
    // right: 120px;
    // display: inline-block;
    box-sizing: border-box;
    width: 686px;
    height: 546px;
    background: no-repeat 100% url('../header-bg.png');
  }

  .btn-container {
    margin-top: 30px;
    text-align: left;

    .btn {
      display: inline-block;
      text-align: center;
      color: #fff;
      width: 140px;
      height: 40px;
      font-size: 16px;
      line-height: 40px;
      border-radius: 20px;
      transition: all 0.3s;
      cursor: pointer;

      + .btn {
        margin-left: 30px;
      }
    }

    .btn-start {
      background: #00DAA8;

      &:hover {
        background: #20e4b7;
      }
    }

    .btn-github {
      color: #fff;
      border: 1px solid #fff;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.feature-wrapper {
  position: relative;
  margin-top: -400px;
  margin-bottom: 220px;

  .main-title {
    margin-bottom: 80px;
    width: 100%;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  .panel-container {
    display: flex;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    justify-content: space-between;
    box-sizing: border-box;

    .panel {
      display: block;
      position: relative;
      width: 250px;
      box-sizing: border-box;
      padding: 30px;
      background: #FFF;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      text-align: center;
      letter-spacing: 0;

      &--show {
        display: block;
      }
    }

    .panel-img {
      margin: 20px 0;

      img {
        margin-left: 20px;
      }
    }

    .panel-title {
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }

    .panel-desc {
      margin-top: 20px;
      font-size: 14px;
      color: #6B798C;
    }

    .panel-tip-container {
      position: absolute;
      top: 0;
      right: 15px;
    }
  }
}

.space-panel {
  width: 100%;
  height: 300px;
  background-color: #F8FAFF;
}

/* 动画 */
.delay-1 {
  animation-duration: 1s;
  animation-delay: 0;
}

.delay-2 {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.delay-3 {
  animation-duration: 2s;
  animation-delay: 1s;
}

.delay-4 {
  animation-duration: 2.5s;
  animation-delay: 1.5s;
}
