@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-toast {
  @include absolute-center(fixed);

  padding: 25px 30px;
  background-color: rgba($color: $color-black-0, $alpha: 0.8);
  border-radius: 8px;

  &-content {
    &__icon {
      margin-bottom: 15px;

      &--no-margin {
        margin: 0;
      }
    }

    &__info {
      text-align: center;
      color: white;
      font-size: 28px;
    }
  }
}
