@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

@keyframes atRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

$toast-image-size: 120px;
$toast-loading-size: 60px;

.at-toast {
  &-overlay {
    @include overlay;

    position: fixed;
    opacity: 0;
  }
}

.at-toast .toast-body {
  @include absolute-center(fixed);

  z-index: $zindex-toast;
  padding: $spacing-v-lg $spacing-h-xl;
  background-color: rgba($color: $color-black-0, $alpha: 0.8);
  border-radius: $border-radius-md;

  &-content {
    &__icon {
      line-height: 0;
      text-align: center;
    }

    &__img {
      line-height: 0;
      text-align: center;

      &-item {
        width: $toast-image-size;
        height: $toast-image-size;
      }
    }

    &__info {
      margin-top: $spacing-v-sm;
      color: $color-white;
      font-size: $font-size-base;
      text-align: center;
    }
  }

  &--text {
    padding: $spacing-v-sm $spacing-h-lg;
    line-height: $line-height-zh;

    .toast-body-content__info {
      margin-top: 0;
    }
  }
}

.at-toast-body--loading {
  .toast-body-content__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $toast-image-size;

    &-item {
      width: $toast-loading-size;
      height: $toast-loading-size;
      animation: atRotate 1350ms linear infinite;
    }
  }
}
