@import "../../style/mixins/index";

.at-toast {
  @include absolute-center(fixed);

  padding: 25px 30px;
  background-color: rgba($color: #000, $alpha: 0.8);
  border-radius: 8px;

  &-content {
    &__icon {
      margin-bottom: 15px;
    }

    &__info {
      text-align: center;
      color: white;
      font-size: 28px;
    }
  }
}
