@import "../../style/mixins/index.scss";

.at-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 22px 22px 22px 0;
  border-bottom: #e5e5e5 solid 1px;

  &__title {
    flex: 6;
    font-size: 30px;
    margin-left: 22px;
  }

  &__switch {
    flex: 2;
    text-align: right;
    background-color: #fff;
  }
}
