@import "../../style/mixins/index.scss";
@import '../../style/theme/default.scss';

.at-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  padding: 22px 22px 22px 0;
  @include border-thin-bottom;

  &__title {
    flex: 6;
    font-size: $font-size-base;
  }

  &__container {
    position: relative;
    flex: 2;
    text-align: right;
    background-color: $color-bg;
  }

  &__mask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-form;
  }

  &--disabled {
    .at-switch__switch {
      opacity: $opacity-disabled;
    }

    .at-switch__mask {
      display: block;
    }
  }
}
