@import "../../style/mixins/index.scss";
@import '../../style/theme/default.scss';

.at-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  padding: 22px 22px 22px 0;
  @include border-thin-bottom;

  &__title {
    flex: 6;
    font-size: $font-size-base;
  }

  &__switch {
    flex: 2;
    text-align: right;
    background-color: $color-bg;
  }
}
