@import "../../../style/mixins/index";
@import "../../../style/theme/default";

.at-modal-footer {
  @include border-thin-top($color-grey-4);

  .at-modal-action {
    @include display-flex;

    & > button {
      @include flex(auto);
      @include line(1);

      min-width: 160px;
      height: 88px;
      font-size: $font-size-base;
      line-height: 86px;
      outline: 0;
      border: 0;
      border-radius: 0;
      background-color: white;

      &::after {
        border: 0;
        border-radius: 0;
      }

      &:not(:first-child) {
        @include border-thin-left($color-grey-4);
      }
    }
  }
}
