@import "../../../style/mixins/index";
@import "../../../style/theme/default";

.at-modal-footer {
  @include border-thin-top($color-grey-4);

  .at-modal-action {
    @include display-flex;

    & > button {
      @include flex(auto);
      @include line(1);
      @include active;

      min-width: 160px;
      height: 88px;
      font-size: $font-size-base;
      line-height: 86px;
      outline: 0;
      border: 0;
      border-radius: 0;
      background-color: white;
      margin-top: 0;

      &::after {
        border: 0;
        border-radius: 0;
      }

      &:not(:first-child) {
        @include border-thin-left($color-grey-4);
      }

      &:first-child:last-child {
        color: $color-brand;
      }
    }
  }

  &--simple .at-modal-action > button:last-child:nth-child(2) {
    color: $color-brand;
  }
}
