@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-float-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: visibility 500ms cubic-bezier(0.36, 0.66, 0.04, 1);

  &__overlay {
    @include overlay;

    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    min-height: 600px;
    max-height: 950px;
    transform: translate3d(0, 100%, 0);
    transition: transform 500ms cubic-bezier(0.36, 0.66, 0.04, 1);
  }
}

.at-float-layout .layout {
  &-header {
    height: 92px;
    background-color: $color-grey-6;
    padding: 0 20px;
    line-height: 85px;
    position: relative;

    &__title {
      font-size: 32px;
      color: $color-grey-0;
    }

    &__icon {
      line-height: 0;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
    }
  }

  &-body {
    font-size: 32px;
    padding: 30px 20px 0 20px;
  }
}

.at-float-layout--active {
  visibility: visible;

  .at-float-layout__overlay {
    opacity: 1;
  }

  .at-float-layout__container {
    transform: translate3d(0, 0, 0);
  }
}
