@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

$float-layout-timer: 300ms;
$float-layout-height-min: 600px;
$float-layout-height-max: 950px;

.at-float-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: $zindex-flot-layout;
  transition: visibility $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);

  &__overlay {
    @include overlay;

    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: $float-layout-height-min;
    max-height: $float-layout-height-max;
    background-color: $color-bg;
    transform: translate3d(0, 100%, 0);
    transition: transform $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);
  }
}

.at-float-layout .layout {
  &-header {
    position: relative;
    padding: $spacing-v-md;
    line-height: $line-height-zh;
    background-color: $color-bg-grey;

    &__title {
      @include line(1);

      color: $color-text-base;
      font-size: $font-size-lg;
      display: block;
      padding-right: 80px;
    }

    &__icon {
      line-height: 1;
      position: absolute;
      top: 50%;
      right: $spacing-v-md;
      padding: $spacing-h-sm;
      transform: translate(0, -50%);
    }
  }

  &-body {
    font-size: $font-size-base;
    padding: $spacing-v-md;
    max-height: 828px;
    min-height: 514px;

    &__content {
      max-height: 798px;
      min-height: 484px;
    }
  }
}

.at-float-layout--active {
  visibility: visible;

  .at-float-layout__overlay {
    opacity: 1;
  }

  .at-float-layout__container {
    transform: translate3d(0, 0, 0);
  }
}
