.main-page {
  .page-header {
    display: flex;
    align-items: center;
    padding: 60px;
    background-color: #78a4fa;
    // margin-bottom: 50px;

    &__title {
      flex: auto;
      position: relative;
      color: white;
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }

  &__body {
    text-align: center;

    .example {
      // margin-bottom: 0;
      // padding-bottom: 50px;

      // prettier-ignore
      // border-bottom: 1PX dotted #999;

      &__title {
        font-size: 36px;
        color: #333;
        margin-bottom: 10px;
        padding-bottom: 15px;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          display: inline-block;
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background-color: #6190e8;
        }
      }

      &__body {
        padding-bottom: 0;
        background-color: white;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.main-page .body_controllers {
  margin-bottom: 20px;
  text-align: center;

  .button {
    width: initial;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border-color: #dcdfe6;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    padding: 20px 36px;
    font-size: 24px;
    border-radius: 0;
    border-left: none;

    // prettier-ignore
    border: 1PX solid #dcdfe6;

    &::after {
      content: initial;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      // prettier-ignore
      border-left: 1PX solid #dcdfe6;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
