.at-tabs-pane {
  display: inline-block;
  width: 100%;
  white-space: initial;
  vertical-align: top;
  font-size: 28px;
  box-sizing: border-box;

  &--active {
    height: auto;
  }

  &--inactive {
    height: 0;
    overflow: visible;
  }

  &--vertical {
    display: block;
    height: 100%;
    overflow: scroll;
  }
}
