@import "../../../style/mixins/index.scss";

.at-calendar-slider__main {
  .main__body {
    @include display-flex;

    width: 100%;
    margin-bottom: 20px;

    &--animate {
      transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    }

    .body__slider {
      @include flex(0 0 100%);
    }
  }

  &--weapp {
    .main__body {
      // prettier-ignore
      height: 235PX;
    }
  }
}
