@import "../../style/theme/default";

@keyframes progress-active {
  from {
    opacity: 0.5;
    transform: translate(-100%);
  }

  to {
    opacity: 0.1;
    transform: translate(0);
  }
}

$progress-height: 16px;

.at-progress {
  display: flex;
  align-items: center;

  &__outer {
    flex: 1 1 100%;
    margin-right: 0;
    padding-right: 0;

    &-inner {
      width: 100%;
      background-color: $color-grey-6;
      border-radius: 100px;
      vertical-align: middle;

      &-background {
        height: $progress-height;
        border-radius: 100px;
        background-color: $color-brand-light;
        transition: all 0.3s $ease-in-out-quad;
        position: relative;
        overflow: hidden;
      }
    }
  }

  &__content {
    flex: 1 1 70px;
    font-size: $font-size-sm;
    margin-left: 10px;
    text-align: center;
  }
}

.at-progress--progress {
  .at-progress__outer-inner-background::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 100px;
    animation: progress-active 2s $ease-out-quad infinite;
  }
}
