@keyframes progress-active {
  from {
    opacity: 0.5;
    transform: translate(-100%);
  }

  to {
    opacity: 0.1;
    transform: translate(0);
  }
}

.at-progress {
  display: flex;
  align-items: center;

  &__outer {
    flex: 1 1 100%;
    margin-right: 0;
    padding-right: 0;

    &-inner {
      width: 100%;
      background-color: #f3f3f3;
      border-radius: 100px;
      vertical-align: middle;

      &-background {
        height: 20px;
        border-radius: 100px;
        background-color: #2db7f5;
        transition: all 0.2s linear;
        position: relative;
        overflow: hidden;
      }
    }
  }

  &__content {
    flex: 1 1 70px;
    font-size: 24px;
    margin-left: 10px;
  }

  &.at-progress--active {
    .at-progress__outer-inner-background::before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-radius: 10px;
      animation: progress-active 2s ease-in-out infinite;
    }
  }
}
