@import "~taro-ui/dist/style/mixins/index.scss";
@import "~taro-ui/dist/style/variables/default.scss";

.panel__content {
  &--example-item {
    @include display-flex;
    @include align-items(center);

    &--center {
      height: 200px;
      position: relative;
      background-color: #fafbfc;
      margin-bottom: 20px;
      /*  #ifdef  rn  */
      @include absolute-center
      /*  #endif  */
    }

    &--subitem {
      margin-left: 32px;
      @include flex(0, 0, auto);

    }
  }
}
