.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 30px;
    width: 33%;
    text-align: center;
    align-items: center;
  }

  &__name {
    /*  #ifndef  rn  */
    user-select: text;
    /*  #endif  */
    margin-top: 10px;
    color: #88889C;
    font-size: 10px;
    text-align: center;
  }
}
