@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

$card-thumb-size: 32px;

.at-card {
  @include border-thin($color: $color-border-light, $width: 1PX);

  margin: 0 $spacing-h-lg;
  background-color: $color-bg;
  border-radius: $border-radius-lg;

  &--full {
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  &-header {
    @include display-flex;
    @include align-items(center);
    @include border-thin-bottom($width: 1PX);

    padding: $spacing-v-md $spacing-h-lg;
    position: relative;

    &__title,
    &__extra {
      @include line;

      line-height: $line-height-zh;
    }

    &__thumb {
      @include flex(0, 0, $card-thumb-size);

      height: $card-thumb-size;
      display: block;
      line-height: 0;
      margin-right: $spacing-h-md;

      &-info {
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      @include flex(auto);

      display: block;
      font-size: $font-size-lg;
    }

    &__extra {
      @include flex(0, 0, auto);

      max-width: 200px;
      margin-left: $spacing-h-lg;
      font-size: $font-size-base;
    }
  }

  &-content {
    padding: $spacing-v-lg $spacing-h-lg;

    &__info {
      font-size: $font-size-base;
    }

    &__note {
      margin-top: $spacing-v-md;
      color: $color-grey-2;
      font-size: $font-size-sm;
    }
  }
}
