@import '~taro-ui/dist/style/mixins/index.scss';
@import '~taro-ui/dist/style/variables/default.scss';

/**
 * 分类页样式
 */
.panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
  height: 180px;

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #78A4FA;
    text-align: center;
    background: #fff;
    /*  #ifndef  rn  */
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.11);
    /*  #endif  */
    border-radius: 10px;

    &--img {
      width: 36px;
      height: 36px;
    }
  }

  &__title {
    margin-left: 32px;
    color: #78A4FA;
    font-size: 36px;
    font-weight: bold;
  }
}

.panel-body {
  background: #fff;
  /*  #ifndef  rn  */
  min-height: calc(100vh - 180px);
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
  /*  #endif  */
  /*  #ifdef  rn  */
  flex: 1;
  display: flex;
  /*  #endif  */
}

.component-list {
  margin: 20px 60px 40px;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    /*  #ifndef  rn  */
    @include hairline-bottom();
    /*  #endif  */
    /*  #ifdef  rn  */
    border-bottom-width: 1px;
    border-bottom-color: $color-border-light;
    /*  #endif  */

    &--name {
      color: #1d1d26;
      font-size: 28px;
    }

    // .at-icon {
    //   color: #CCC;
    // }
  }
}
