@import "../../../style/theme/default.scss";
@import "../../../style/mixins/index.scss";

.at-action-sheet-footer {
  font-size: $font-size-xl;
  padding: $spacing-v-lg $spacing-h-lg;
  border-top: 12px solid rgba($color: $color-border-base, $alpha: 0.3);
  @include active();

  &--ipx {
    padding-bottom: 68px;
  }
}
