@import "../../../style/mixins/index.scss";
@import "../../../style/theme/default.scss";

$image-size: 56px;
$item-horizontal-padding: 24px;

@mixin squareImg($size: 56px) {
  width: $size;
  height: $size;

  &-info {
    width: 100%;
    height: 100%;
  }
}

.at-list__item {
  @include display-flex;
  @include align-items(center);
  @include active;

  padding: $spacing-v-lg $spacing-h-xl;
  position: relative;
  box-sizing: border-box;
  color: $color-text-base;
  font-size: $font-size-lg;
  line-height: $line-height-zh;

  &::after {
    content: " ";
    position: absolute;
    width: calc(100% - #{$spacing-h-xl});
    height: 1px;
    background-color: $color-border-lighter;
    bottom: 0;
    left: $spacing-h-xl;
  }

  &--thumb {
    .item-thumb {
      margin-right: $item-horizontal-padding;
      @include squareImg($image-size);
    }
  }

  &-content {
    @include flex(1);

    overflow: hidden;
    margin-right: 40px;
  }

  &-extra {
    @include flex(0, 0, 235px);

    text-align: right;
  }
}

.at-list__item .item-content {
  &__info {
    &-title {
      @include line(1);

      color: inherit;
      font-size: inherit;
      line-height: $line-height-zh;
    }

    &-note {
      color: $color-grey-2;
      font-size: $font-size-base;
      line-height: $line-height-zh;
    }
  }
}

.at-list__item .item-extra {
  &__info,
  &__icon,
  &__image,
  &__switch {
    display: inline-block;
  }

  &__info {
    @include line(1);

    color: $color-grey-2;
    max-width: 160px;
    font-size: $font-size-lg;
    vertical-align: middle;
  }

  &__icon {
    margin-left: $spacing-h-lg;
  }

  &__switch {
    vertical-align: middle;
  }

  &__image {
    @include squareImg($image-size);

    vertical-align: middle;
  }
}
