@import "../../../style/mixins/index.scss";
@import "../../../style/theme/default.scss";

$image-size: 56px;
$image-distance: 32px;
$item-horizontal-padding: 30px;

@mixin squareImg($size: 56px) {
  width: $size;
  height: $size;
  background-color: #d8d8d8;

  &-info {
    width: 100%;
    height: 100%;
  }
}

.at-list__item {
  @include display-flex;
  @include border-thin-bottom;
  @include align-items(center);

  height: 90px;
  font-size: 34px;
  position: relative;
  box-sizing: border-box;
  color: $color-black-0;
  line-height: $line-height-zh;
  padding: $spacing-h-md $spacing-v-xl;

  &--thumb {
    padding-left: $image-size + $item-horizontal-padding + $image-distance;

    .item-thumb {
      @include squareImg($image-size);

      position: absolute;
      top: $spacing-v-md;
      left: $item-horizontal-padding;
    }
  }

  &--multiple {
    height: 140px;

    .item-thumb {
      top: 30px;
    }
  }

  &-content {
    @include flex(1);
  }

  &-extra {
    @include flex(0, 0, 235px);

    text-align: right;
  }
}

.at-list__item .item-contet {
  &__info {
    display: inline-block;

    &-title {
      color: inherit;
      font-size: inherit;
    }

    &-note {
      font-size: $font-size-base;
      color: lighten($color: $color-grey-2, $amount: 10%);
    }
  }
}

.at-list__item .item-extra {
  &__info,
  &__icon,
  &__image,
  &__switch {
    display: inline-block;
  }

  &__info {
    color: $color-grey-2;
    vertical-align: middle;
    font-size: $font-size-lg;
  }

  &__icon {
    margin-left: $spacing-h-lg;
  }

  &__switch {
    vertical-align: middle;
  }

  &__image {
    @include squareImg($image-size);

    vertical-align: middle;
  }
}
