@import "../../../style/mixins/index.scss";
@import "../../../style/theme/default.scss";

$image-size: 56px;
$item-horizontal-padding: 24px;

@mixin squareImg($size: 56px) {
  width: $size;
  height: $size;

  &__info {
    width: 100%;
    height: 100%;
  }
}

.at-list__item {
  @include active;

  padding: $spacing-v-lg $spacing-h-lg;
  position: relative;
  box-sizing: border-box;
  color: $color-text-base;
  font-size: $font-size-lg;
  line-height: $line-height-zh;
  @include hairline-bottom-relative($left: $spacing-h-lg);

  &-container {
    @include display-flex;
    @include align-items(center);

    .item-icon {
      margin-right: $item-horizontal-padding;
    }
  }

  &--thumb {
    .item-thumb {
      margin-right: $item-horizontal-padding;
      @include squareImg($image-size);
    }
  }

  &--disabled {
    .at-list__item-container {
      opacity: $opacity-disabled;
    }

    &:active {
      background-color: transparent !important;
    }
  }

  &--no-border::after {
    content: initial;
    border: none;
  }

  &-content {
    @include flex(1);

    overflow: hidden;
    margin-right: 40px;
  }

  &-extra {
    @include flex(0, 0, 235px);

    width: 235px;
    text-align: right;
  }
}

.at-list__item .item-content {
  &__info {
    &-title {
      @include line(1);

      color: inherit;
      font-size: inherit;
      line-height: $line-height-zh;
    }

    &-note {
      color: $color-grey-2;
      font-size: $font-size-base;
      line-height: $line-height-zh;
    }
  }
}

.at-list__item .item-extra {
  &__info,
  &__icon,
  &__image,
  &__switch {
    display: inline-block;
  }

  &__info {
    @include line(1);

    max-width: 100%;
    color: $color-grey-2;
    padding-right: 20px;
    font-size: $font-size-lg;
    vertical-align: middle;
  }

  &__icon {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    // margin-left: $spacing-h-sm;
    // margin-right: -$spacing-h-sm;
  }

  &__switch {
    vertical-align: middle;
  }

  &__image {
    @include squareImg($image-size);

    vertical-align: middle;
  }
}
