@import "../../style/theme/default.scss";
@import "../../style/mixins/index.scss";

$action-sheet-timer: 300ms;

.at-action-sheet {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $zindex-action-sheet;
  visibility: hidden;
  transition: visibility $action-sheet-timer $timing-func;

  &__overlay {
    @include overlay;

    opacity: 0;
    transition: opacity $action-sheet-timer ease-in;
  }

  &__container {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    background-color: $color-white;
    transform: translate3d(0, 100%, 0);
    transition: transform $action-sheet-timer $timing-func;
  }

  // &--ipx &__container {
  //   padding-bottom: 68px;
  // }
}

.at-action-sheet--active {
  visibility: visible;

  .at-action-sheet__overlay {
    opacity: 1;
  }

  .at-action-sheet__container {
    transform: translate3d(0, 0, 0);
  }
}
