@import '../../style/theme/default.scss';
@import "../../style/mixins/index.scss";

.at-divider {
  width: 100%;
  height: 112px;
  text-align: center;
  font-size: $font-size-base;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    background: $color-bg;
    position: relative;
    display: inline-block;
    z-index: $zindex-divider + 1;
    padding: 0 $spacing-h-lg;
  }

  &__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1PX;
    background-color: $color-brand;
    top: 50%;
    z-index: $zindex-divider;
  }
}
