@import '~tiga-ui/dist/style/mixins/index.scss';
@import '~tiga-ui/dist/style/variables/default.scss';

.page {
  position: relative;
  background-color: #f8f8f8;

  /*  #ifndef  rn  */
  view {
    box-sizing: border-box;
  }

  /*  #endif  */
}

.page-index {
  padding-top: 30px;
  padding-bottom: 50px;

  &__logo {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 0;
    text-align: center;

    &--img {
      width: 132px;
      height: 90px;
    }
  }
}

.page-title {
  margin-top: 12px;
  color: #333;
  font-size: 18px;
  text-align: center;

  /*  #ifdef  rn  */
  align-items: center;
  /*  #endif  */
}

.module-list {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    /*  #ifndef  rn  */
    box-sizing: border-box;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
    /*  #endif  */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 15px;
    width: 90%;
    height: 72px;
    background: #fff;
    border-radius: 5px;

    &--last {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    color: $color-brand;
    text-align: center;
    border: 2px solid rgba(120, 164, 250, 0.16);
    border-radius: 18px;

    &--img {
      width: 16px;
      height: 16px;
    }
  }

  &__info {
    flex: 1;
    text-align: left;
    margin-left: 12px;

    .title {
      color: #6A6A77;
      font-size: 14px;
      font-weight: bold;
    }

    .content {
      color: #88889C;
      font-size: 12px;
    }
  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    background: $color-brand;
    /*  #ifndef  rn  */
    box-shadow: 2px 5px 15px 0 rgba(120, 164, 250, 0.30);
    /*  #endif  */
    border-radius: 15px;
  }
}

.page-body {
  padding: 20px;
}

.component-group {
  font-size: 16px;
}

.group-item {
  padding: 0 15px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }
}

.group-info {
  padding: 15px 0;
  display: flex;
  align-items: center;
  /*  #ifndef  rn  */
  transition: opacity 0.3s;
  /*  #endif  */

  &-title {
    opacity: 0.5;
  }
}

.group-list {
  font-size: 14px;

  .list-component {
    padding: 10px 0;
    position: relative;
    align-items: center;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 0.5px;
      border-top: 0.5px solid #d8d8d8;
      color: #d8d8d8;
    }

    &:first-child::before {
      display: none;
    }

    &-info {
      width: 100%;
    }

    &-arrow {
      display: inline-block;
      height: 9px;
      width: 9px;
      border-width: 1px 1px 0 0;
      border-color: #888;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translate(-50%);
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}
