@import "../../style/theme/default.scss";
@import "../../style/mixins/index.scss";

$noticebar-color-bg: #FCF6ED;
$noticebar-color-font: #DE8C17;
$noticebar-icon-size: 26px;

.at-noticebar {
  position: relative;
  padding: $spacing-v-sm $spacing-h-lg;
  color: $noticebar-color-font;
  font-size: $font-size-sm;
  background: $noticebar-color-bg;

  &__content {
    line-height: $line-height-zh;

    &-icon {
      display: inline-block;
      margin-right: 12px;
    }
  }

  &__close {
    width: $noticebar-icon-size;
    height: $noticebar-icon-size;
    position: absolute;
    left: $spacing-h-lg;
    top: 50%;
    margin-top: -($noticebar-icon-size / 2 + 4);

    + .at-noticebar__content {
      margin-left: 50px;
    }
  }

  &--single {
    .at-noticebar__content {
      @include line(1);
    }
  }

  &--more {
    .at-noticebar__content {
      max-width: 480px;
    }
  }

  &__more {
    position: absolute;
    right: $spacing-h-lg;
    top: $spacing-v-sm;
    color: $color-grey-2;
    font-size: 0;

    .text {
      font-size: $font-size-sm;
      line-height: $line-height-zh;
      vertical-align: middle;
    }

    &-icon {
      display: inline-block;
      width: $noticebar-icon-size;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}
