@import "../../style/theme/default.scss";
@import "../../style/mixins/index.scss";

$noticebar-color-bg: #FCF6ED;
$noticebar-color-font: #DE8C17;
$noticebar-icon-size: 26px;

.at-noticebar {
  position: relative;
  padding: $spacing-v-sm $spacing-h-lg;
  color: $noticebar-color-font;
  font-size: 0;
  background: $noticebar-color-bg;

  &__content {
    line-height: $line-height-zh;
    word-break: break-all;
    word-wrap: break-word;

    &-icon {
      display: inline-block;
      margin-right: 12px;
      vertical-align: top;
      margin-top: 4px;
    }

    &-text {
      display: inline;
      font-size: $font-size-sm;
    }

    &-inner {
      display: inline;
    }
  }

  &__close {
    width: $noticebar-icon-size;
    height: $noticebar-icon-size;
    position: absolute;
    left: $spacing-h-lg;
    top: 50%;
    margin-top: -($noticebar-icon-size / 2 + 4);

    + .at-noticebar__content {
      margin-left: 50px;
    }
  }

  &--marquee {
    .at-noticebar__content-text {
      height: 36px;
      line-height: 36px;
      overflow: hidden;
      display: block;
    }

    .at-noticebar__content-icon {
      position: absolute;

      + .at-noticebar__content-text {
        margin-left: 45px;
      }
    }

    .at-noticebar__content-inner {
      display: inline-block;
      height: 36px;
      white-space: nowrap;
      animation: marquee 1s linear infinite both;
      transform: translateZ(0);
      padding-left: 100%;
    }
  }

  &--single {
    &.at-noticebar--more {
      .at-noticebar__content-text {
        display: inline-block;
        max-width: 525px;
        @include line(1);
      }

      .at-noticebar__content-icon + .at-noticebar__content-text {
        max-width: 475px;
      }
    }
  }

  &--more {
    .at-noticebar__content {
      max-width: 525px;
    }
  }

  &--weapp {
    .at-noticebar__content-inner {
      animation: none;
    }
  }

  &__more {
    position: absolute;
    right: $spacing-h-lg;
    top: $spacing-v-sm;
    color: $color-grey-2;
    font-size: 0;

    .text {
      font-size: $font-size-sm;
      line-height: $line-height-zh;
      vertical-align: middle;
    }

    &-icon {
      display: inline-block;
      width: $noticebar-icon-size;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}

@keyframes marquee {
  100% {
    transform: translate3d(-100%, 0, 0);
    // transform: translateX(-100%);
  }
}
