@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

$modal-width: 540px;

.at-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: visibility 200ms ease-in;
  z-index: $zindex-modal;

  &__overlay,
  &__container {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  &__overlay {
    @include overlay;
  }

  &__container {
    @include absolute-center();

    width: $modal-width;
    overflow: hidden;
    border-radius: $border-radius-lg;
    background-color: $color-white;
  }
}

.at-modal--active {
  visibility: visible;

  .at-modal__overlay,
  .at-modal__container {
    opacity: 1;
  }
}
