@import "../../../../style/mixins/index.scss";
@import "../../../../style/theme/default.scss";

.at-action-sheet-item {
  font-size: 36px;
  padding: 25px 0;

  /* prettier-ignore */
  border-bottom: 1PX solid rgba($color: $color-black-0, $alpha: 0.1);
}
