@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

$circularH: 28PX;

.at-steps {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;

  &__circular {
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: $circularH;
    // 为了让图标垂直水平居中
    font-size: 0;
    height: $circularH;
    width: $circularH;
    text-align: center;
    z-index: $zindex-steps;
    transition: all 0.3s;
  }

  &__item {
    position: relative;
    flex: 1;
    width: 33%;
    text-align: center;

    &--active {
      .at-steps__circular {
        color: $color-white;
        background-color: $color-brand;
      }
    }

    &--inactive {
      .at-steps__circular {
        color: $color-grey-2;
        background-color: $color-grey-4;
      }
    }
  }

  &__circular-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
  }

  &__left-line {
    position: absolute;
    width: 30%;
    top: 50%;
    right: 70%;
    height: 1Px;
    background-color: $color-grey-3;
    z-index: $zindex-steps - 1;
  }

  &__right-line {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 70%;
    height: 1Px;
    background-color: $color-grey-3;
    z-index: $zindex-steps - 1;
  }

  &__num {
    font-size: $font-size-sm;
  }

  &__title {
    padding: $spacing-v-sm 0;
    font-size: $font-size-lg;
    color: $color-black-0;
    @include line(1);
  }

  &__desc {
    font-size: $font-size-sm;
    color: $color-grey-3;
    @include line(2);
  }
}
