@import "../../../style/mixins/index.scss";
@import "../../../style/theme/default.scss";

.at-action-sheet-header {
  color: $color-black-3;
  padding: 25px;
  text-align: center;
  font-size: $font-size-base;
  line-height: $line-height-zh;

  @include border-thin-bottom($color-grey-4);
}
