@import "../../../style/mixins/index.scss";
@import "../../../style/theme/default.scss";

.at-action-sheet-header {
  font-size: 28px;
  padding: 25px 0;
  color: #888;
  border-bottom: 1px solid rgba($color: $color-black-0, $alpha: 0.1);
}
