.example__body  {
  background-color: #f8f8f8;
  min-height: 100px;
  padding: 30px 10px;

  .item {
    margin-bottom: 10px;
  }

  .input__item {
    background-color: #fff;
    padding: 10px;
  }
}
