@import '~tiga-ui/dist/style/mixins/index.scss';
@import '~tiga-ui/dist/style/variables/default.scss';

/**
 * 分类页样式
 */
.panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  height: 90px;

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: $color-brand;
    text-align: center;
    background: #fff;
    /*  #ifndef  rn  */
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.11);
    /*  #endif  */
    border-radius: 5px;

    &--img {
      width: 18px;
      height: 18px;
    }
  }

  &__title {
    margin-left: 16px;
    color: $color-brand;
    font-size: 18px;
    font-weight: bold;
  }
}

.panel-body {
  background: #fff;
  /*  #ifndef  rn  */
  min-height: calc(100vh - 90px);
  box-shadow: 0 13px 81px 0 rgba(0, 0, 0, 0.11);
  /*  #endif  */
  /*  #ifdef  rn  */
  flex: 1;
  display: flex;
  /*  #endif  */
}

.component-list {
  margin: 10px 30px 20px;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    /*  #ifndef  rn  */
    @include hairline-bottom();
    /*  #endif  */
    /*  #ifdef  rn  */
    border-bottom-width: 0.5px;
    border-bottom-color: $color-border-base;
    /*  #endif  */

    &--name {
      color: #1d1d26;
      font-size: 14px;
    }
    /*  #ifndef  rn  */
    .at-icon {
      color: #CCC;
    }
    /*  #endif  */
  }
}
