@import "../../../../style/mixins/index.scss";

.at-calendar__header {
  .header__flex {
    @include display-flex;
    @include align-items(center);

    height: 72px;
    text-align: center;
    color: rgba($color: #34485e, $alpha: 0.5);

    &-item {
      @include flex(0 0 calc(100% / 7));

      font-size: 30px;
    }
  }
}
