@import '../../style/theme/default.scss';

$timeline-margin-left: 40px;
$timeline-dot-size: 24px;

.at-timelineitem {
  position: relative;
  padding: 0 0 $spacing-v-sm;

  &__content {
    margin-left: $timeline-margin-left;
    min-height: 56px;
    color: $color-grey-0;
    font-size: $font-size-base;
    line-height: $line-height-zh;
    text-align: left;

    &--sub {
      color: $color-grey-1;
      font-size: $font-size-sm;
    }
  }

  &__dot,
  &__icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 32px;
    height: 32px;
    font-size: 0;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: $color-bg;
    z-index: 1;
  }

  &__dot {
    left: -1px;

    &::after {
      content: '';
      margin-top: 5px;
      display: inline-block;
      box-sizing: border-box;
      width: $timeline-dot-size;
      height: $timeline-dot-size;
      border: 1PX solid transparent;
      border-radius: $border-radius-circle;
      border-color: $color-info;
    }

    &.at-timelineitem__icon {
      &::after {
        display: none;
      }
    }
  }

  &__icon {
    left: -4px;
    color: $color-info;
  }

  &--green {
    .at-timelineitem__icon {
      color: $color-success;
    }

    .at-timelineitem__dot {
      &::after {
        border-color: $color-success;
      }
    }
  }

  &--red {
    .at-timelineitem__icon {
      color: $color-error;
    }

    .at-timelineitem__dot {
      &::after {
        border-color: $color-error;
      }
    }
  }

  &--yellow {
    .at-timelineitem__icon {
      color: $color-warning;
    }

    .at-timelineitem__dot {
      &::after {
        border-color: $color-warning;
      }
    }
  }

  &__tail {
    position: absolute;
    top: 18px;
    bottom: -10px;
    left: 10px;
    border-left: 2px solid $color-border-lighter;
  }
}

.at-timeline {
  .at-timelineitem:last-child {
    .at-timelineitem__tail {
      display: none;
    }
  }

  &--pending {
    .at-timelineitem:nth-last-child(2) {
      .at-timelineitem__content {
        min-height: 80px;
      }

      .at-timelineitem__tail {
        border-left-style: dotted;
      }
    }
  }
}
