@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.at-loading {
  display: inline-block;
  position: relative;
  width: 18PX;
  height: 18PX;

  &__ring {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 18PX;
    height: 18PX;
    margin: 1PX;
    border: 1PX solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
