@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-activity-indicator {
  @include display-flex();
  opacity: 0;

  /* elements */
  &__body {
    @include flex(0, 0, auto);
  }

  &__content {
    @include flex(0, 0, auto);
    @include align-self(center);

    margin-left: $spacing-h-lg;
    color: $at-activity-indicator-font-color;
    font-size: $at-activity-indicator-font-size;
  }

  /* modifiers */
  &--center {
    @include absolute-center;
  }

  &--isopened {
    opacity: 1;
  }
}
