@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-image-picker {
  position: relative;
  width: 100%;
  overflow: hidden;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;

  /* elements */
  &__flex-box {
    display: flex;
    flex-direction: row;
    padding: $spacing-h-sm;
    //overflow: hidden;
    //box-sizing: border-box;
  }

  &__flex-item {
    position: relative;
    margin-left: $spacing-h-sm;
    flex: 1;
    height: 100%;
    aspect-ratio: 1;
    // box-sizing: border-box;

    // &::after {
    //   content: '';
    //   display: block;
    //   padding-bottom: 100%;
    // }
  }

  &__item {
    position: absolute;
    /*postcss-pxtransform rn eject enable*/
    top: 50%;
    /*postcss-pxtransform rn eject disable*/
    width: 100%;
    height: 100%;
    border-radius: $border-radius-md;
    //transform: translateY(-50%);
    overflow: hidden;
  }

  &__choose-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0;
    // box-sizing: border-box;
    @include border-thin($width: 1PX);
  }

  &__remove-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6px;
    right: 6px;
    z-index: 2;
    width: 18px;
    height: 18px;
    font-size: 0;
    border-radius: 9px;
    overflow: hidden;
    text-align: center;
    background-color: $at-image-picker-btn-remove-bg-color;
    opacity: 0.8;
    // box-sizing: border-box;
    /*  #ifdef  rn  */
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #999;
    /*  #endif  */

    // &::before,
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   display: inline-block;
    //   width: 10PX;
    //   height: 1PX;
    //   border-radius: 1px;
    //   background: $at-image-picker-btn-remove-color;
    // }

    // &::before {
    //   transform: translate3d(-50%, -50%, 0) rotate(45deg);
    // }

    // &::after {
    //   transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    // }
  }

  &__preview-img {
    width: 100%;
    height: 100%;
  }
}
