@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-pagination {
  position: relative;
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0 $at-pagination-margin;

  &__btn-prev,
  &__btn-next {
    font-size: 0;

    // .at-icon {
    //   color: $at-pagination-icon-color;
    //   font-size: $at-pagination-icon-font-size;
    // }
  }

  &__at-icon {
    color: $at-pagination-icon-color;
    font-size: $at-pagination-icon-font-size;
  }

  &__number {
    color: $at-pagination-num-color;
    font-size: $at-pagination-num-font-size;
    text-align: center;
    overflow: hidden;

    &-current {
      color: $at-pagination-current-num-color;
    }

    &-wrap {
      line-height: $at-button-height-sm;
    }
  }
}
