@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

.at-checkbox {
  background-color: #fff;

  &__option {
    padding: 13px 13px 13px 0;
    margin-left: 13px;
  }

  &__desc {
    display: block;
    padding-left: 60px;
    text-align: left;
    font-size: 24px;
    color: #999;
    letter-spacing: 0;
    line-height: 36px;
  }

  &__title {
    display: inline-flex;
    font-size: 30px;
    text-align: left;
  }

  &__option_container {
    display: flex;
    align-items: center;
  }

  &__icon {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    border: #6190e8 solid 3px;
    background-color: #fff;
    margin-right: 20px;
    font-size: 30px;
    overflow: hidden;

    &--selected {
      background-color: #6190e8;
    }
  }

  &__icon_container {
    display: inline-block;
    @include absolute-center;
  }

  &__option + &__option {
    border-top: #e5e5e5 solid 1px;
  }
}
