$color-brand: #ff4d13;
@import "~tiga-ui/dist/style/index.scss";

/*  #ifndef  rn  */
#app {
  background-color: #f8f8f8;
}

view {
  box-sizing: border-box;
}

.at-frozen {
  position: fixed;
  width: 100%;
}
/*  #endif  */

.page {
  display: flex;
  flex-direction: column;
  /*  #ifndef  rn  */
  box-sizing: border-box;
  min-height: 100vh;
  /*  #endif  */
  background-color: #f8f8f8;
}



// 实例模板
.example {
  padding: 5px 10px;
  margin-bottom: 5px;
}

/**
 * Example 样式
 */
.panel__content {
  .example-item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    .subitem {
      display: inline-block;
      margin-left: 12px;
    }

    &__desc {
      margin-bottom: 6px;
      color: #333;
      font-size: 12px;
    }
  }
}

.doc-body {
  /*  #ifndef  rn  */
  min-height: calc(100vh - 90px);
  padding-bottom: calc(constant(safe-area-inset-bottom) + 30px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
  box-shadow: 0 12px 81px 0 rgba(0, 0, 0, 0.11);
  /*  #endif  */
  /*  #ifdef  rn  */
  padding-top: 16px;
  /*  #endif  */
  padding-bottom: 30px;
  background: #fff;

  &--panel {
    margin: 16px 0 28px;
  }

  .panel {
    &__title {
      position: relative;
      margin-bottom: 25px;
      padding-left: 25px;
      color: #6a6a77;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: 50%;
        margin-top: -10px;
        width: 2PX;
        height: 20px;
        background-color: $color-brand;
        box-shadow: 0 3px 6px 0 rgba(97, 144, 232, 0.2);
        border-radius: 1PX;
      }
    }

    &__content {
      padding: 0 10px;
      &.no-padding {
        padding: 0;
      }
    }

  }

}

/*  #ifdef  rn  */
.panel {
  margin: 0 0 28px;

  &__title {
    position: relative;
    margin-bottom: 25px;
    padding-left: 13px;
    margin-left: 10px;
    color: #6a6a77;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    border-left-width: 2PX;
    border-left-color: $color-brand;
  }

  &__content {
    padding: 0 10px;

    &.no-padding {
      padding: 0;
    }
  }
}
/*  #endif  */

.red {
  background-color: greenyellow;
}
.blue {
  background-color: blue;
}
