.panel__content {
  .btn-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .subitem {
      display: inline-block;
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
