@import '../../style/theme/default.scss';
@import "../../style/mixins/index.scss";

.at-load-more {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80PX;
  overflow: hidden;
  box-sizing: border-box;

  &__tip {
    text-align: center;
    width: 100%;
    color: $color-grey-1;
    font-size: $font-size-lg;
  }
}
