@import '../variables/default.scss';
@import '../mixins/index.scss';

$at-border-width: 0.5px;

.at-web-button {
  border: 0;
  background: transparent;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.at-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: $at-button-radius;
  box-sizing: border-box;
  /*  #ifndef  rn  */
  display: inline-block;
  /*  #endif  */

  &:active {
    opacity: $opacity-active;
  }

  &__wxbutton {
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*  #ifndef  rn  */
    border: none;
    outline: none;
    display: inline-block;
    /*  #endif  */
    background-color: transparent;
    opacity: 0;
    z-index: 1;
    border-radius: $at-button-radius;

    &::after {
      display: none;
    }
  }

  /* modifiers */
  &--active {
    opacity: $opacity-active;
  }

  &--disabled {
    opacity: $opacity-disabled;

    &:active {
      opacity: $opacity-disabled;
    }
  }

  &--primary {
    color: $color-text-base-inverse;
    background-color: $at-button-primary-color;

    &__text {
      color: $color-bg-base;
      text-align: center;
    }
  }

  // type 样式定义
  &--secondary {
    color: $at-button-color;
    border: $at-border-width solid $at-button-secondary-border-color;
    background-color: $at-button-secondary-fill-color;

    &__text {
      color: $color-brand;
      text-align: center;
    }
  }

  &--tertiary {
    color: $at-button-color;
    border: $at-border-width solid $at-button-tertiary-border-color;
    background-color: $at-button-tertiary-fill-color;

    &__text {
      color: $color-text-secondary;
      text-align: center;
    }
  }

  // full 只有 large 尺寸，字体大一号
  &--full {
    /*  #ifndef  rn  */
    display: block;
    /*  #endif  */
    height: $at-button-height-large;

    &__text {
      @include font(19px, $at-button-height-large);
    }
  }

  // size 样式定义
  &--large {
    height: $at-button-height-large;
    padding: 0 $spacing-h-lg;

    &__text {
      @include font(18px, $at-button-height-large);
    }
  }

  &--medium {
    height: $at-button-height-medium;
    padding: 0 $spacing-h-lg;

    &__text {
      @include font(16px, $at-button-height-medium);
    }
  }

  &--small {
    height: $at-button-height-small;
    padding: 0 10PX;

    &__text {
      @include font(14px, $at-button-height-small);
    }
  }

  &--mini {
    height: $at-button-height-mini;
    padding: 0 10PX;

    &__text {
      @include font(14px, $at-button-height-mini);
    }
  }

  &--tiny {
    height: $at-button-height-tiny;
    padding: 0 10PX;

    &__text {
      @include font(12px, $at-button-height-tiny);
    }
  }
}
