@import '../variables/default.scss';
@import '../mixins/index.scss';

$at-border-width: 0.5px;

.at-web-button {
  border: 0;
  background: transparent;
  padding: 0;
  outline: none;
  box-shadow: none;
}

.at-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: $at-button-radius;
  box-sizing: border-box;
  // @include line();

  &:active {
    opacity: $opacity-active;
  }

  &__wxbutton {
    position: absolute;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*  #ifndef  rn  */
    border: none;
    outline: none;
    /*  #endif  */
    background-color: transparent;
    opacity: 0;
    z-index: 1;
    border-radius: $at-button-radius;

    &::after {
      display: none;
    }
  }

  /* modifiers */
  &--active {
    opacity: $opacity-active;
  }

  &--disabled {
    opacity: $opacity-disabled;

    &:active {
      opacity: $opacity-disabled;
    }
  }

  &--primary {
    color: $color-text-base-inverse;
    background-color: $at-button-primary-color;

    &__text {
      color: $color-bg-base;
    }
  }

  &--secondary {
    color: $at-button-color;
    border: $at-border-width solid $at-button-secondary-border-color;
    background-color: $color-white;

    &__wxbutton {

    }

    &__text {
      color: $color-brand;
    }
  }

  &--tertiary {
    color: $at-button-color;
    border: $at-border-width solid $at-button-tertiary-border-color;
    background-color: $at-button-tertiary-fill-color;

    &__text {
      color: $color-text-secondary;
    }
  }

  // &--circle {
  //   border-radius: $at-button-height / 2;
  //   /*  #ifndef  rn  */
  //   background-clip: border-box;
  //   /*  #endif  */
  //   overflow: hidden;
  // }

  &--large {
    height: $at-button-height-large;

    &__text {
      padding: 0 $spacing-h-lg;
      @include font(18px, $at-button-height-large);
    }
  }

  &--medium {
    height: $at-button-height-medium;

    &__text {
      padding: 0 $spacing-h-lg;
      @include font(16px, $at-button-height-medium);
    }
  }

  &--small {
    height: $at-button-height-small;

    &__text {
      padding: 0 10px;
      @include font(14px, $at-button-height-small);
    }
  }

  &--mini {
    height: $at-button-height-mini;

    &__text {
      padding: 0 10px;
      @include font(14px, $at-button-height-mini);
    }
  }

  &--tiny {
    height: $at-button-height-tiny;

    &__text {
      padding: 0 10px;
      @include font(12px, $at-button-height-tiny);
    }
  }

  // &--small {
  //   padding: 0 $spacing-h-md;
  //   width: auto;
  //   min-width: 100px;
  //   max-width: 710px;
  //   height: $at-button-height-sm;
  //   font-size: $font-size-base;
  //   line-height: $at-button-height-sm - 2;

  //   &.at-button--circle {
  //     border-radius: $at-button-height-sm / 2;
  //   }
  // }

  // &--full {
  //   width: 100%;
  //   max-width: 100%;
  //   border-radius: 0;
  //   border-left: none;
  //   border-right: none;
  // }
}
