@import '../variables/default.scss';
@import '../mixins/index.scss';

$at-dialog-duration: 200ms;
$at-dialog-header-v-gap: (24px - 18px) / 2;
$at-dialog-content-v-gap: (22px - 16px) / 2;

.at-dialog {
  /*  #ifndef  rn  */
  position: fixed;
  /*  #endif  */

  /*  #ifdef  rn  */
  position: absolute;
  /*  #endif  */

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /*  #ifndef  rn  */
  visibility: hidden;
  /*  #endif  */

  /*  #ifdef  rn  */
  display: none;
  // RN 对子元素居中定位，其他端为空
  @include absolute-center-child();
  /*  #endif  */

  // transition: visibility $at-dialog-duration ease-in;
  // z-index: $zindex-dialog;

  /* elements */
  &__overlay,
  &__container {
    opacity: 0;
    // transition: opacity $at-dialog-duration ease-in;
    &--active {
      opacity: 1;
    }
  }

  &__overlay {
    @include overlay;
  }

  &__container {
    // 其他端对自己居中定位，RN 端为空
    @include absolute-center();

    width: $at-dialog-width;
    border-radius: $at-dialog-radius;
    background-color: $at-dialog-bg-color;
    overflow: hidden;
  }

  &__wrap {
    padding: $spacing-v-xl $spacing-h-lg;
    padding-top: $spacing-v-xl - $at-dialog-header-v-gap;
    padding-bottom: $spacing-v-xl - $at-dialog-content-v-gap;
  }

  &__header {
    @include font(18px);

    color: $at-dialog-header-text-color;
    text-align: center;
  }

  &__content {
    // 使用 line-height, 对应的 padding 需要动态计算
    @include font(16px);

    width: auto;
    padding-top: $spacing-v-lg - $at-dialog-content-v-gap - $at-dialog-header-v-gap;
    color: $at-dialog-content-text-color;
    /*  #ifndef  rn  */
    box-sizing: border-box;
    /*  #endif  */
    text-align: center;
  }

  &__footer {
    display: flex;
    flex-direction: row;

    &--column {
      flex-direction: column;
    }
  }

  &__action {
    @include font(16px);
    @include hairline-top();
    @include active();

    flex-grow: 1;
    padding: $spacing-v-lg - 3px 0;
    text-align: center;

    &--primary {
      @include font-bold(16px);
      color: $color-brand;
    }

    &--secondary {
      color: $color-text-secondary;
    }

    &--tertiary {
      color: $color-text-secondary;
    }

    &--border-left {
      @include hairline-left-top();
    }
  }

  // /* modifiers */
  &--active {
    /*  #ifndef  rn  */
    visibility: visible;
    /*  #endif  */

    /*  #ifdef  rn  */
    display: flex;
    /*  #endif  */

    // .at-dialog__overlay,
    // .at-dialog__container {
    //   opacity: 1;
    // }
  }
}
