@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-form-item {
  &-label {
    @include font(16px, 16px);

    &-wrap {
      display: flex;
      flex-direction: row;
      position: relative;

      &-vertical {
        flex: 1;
        margin-bottom: $spacing-v-md;
      }
    }
  }

  &-tail {
    @include font(14px, 16px);
    color: $color-text-link;
  }

  &-required-asterisk {
    position: absolute;
    top: 0;
    left: -7px;
    color: $color-error;
  }

  &-feedback-error {
    @include font(14px, 14px);
    color: $color-error;
  }

  &-child {
    font-size: 0;
  }
}
