@import '../variables/default.scss';
@import '../mixins/index.scss';

$at-input-content-v-gap: (22px - 16px) / 2;
.at-input {
  width: auto;
  position: relative;
  padding: 0;
  color: $at-input-label-color;
  background-color: $color-bg-base;
  display: flex;
  /*  #ifdef  rn  */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*  #endif  */
  &__titlebox {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0 $spacing-h-lg;
    &__title {
      max-width: $at-input-title-limit;
      @include font(16px, 16px);
      text-align: left;
    }
    &--symbol {
      @include font(16px, 16px);
      margin-left: 4px;
      display: flex;
      align-self: center;
      max-width: 16px;
    }
    &--required {
      color: $color-error;
      @include font(16px, 16px);
      position: absolute;
      /*  #ifndef  rn  */
      top: 2px;
      left: -6px;
      /*  #endif  */
      /*  #ifdef  rn  */
      top: 2px;
      left: -6px;
      /*  #endif  */
    }
  }
  &-contentbox {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-icon {
      margin-left: $spacing-h-lg;
    }
    &__input {
      flex: 1;
    }
  }
  &__clear {
    max-width: $at-input-icon-max-size-sm;
    overflow: hidden;
    margin-left: 10px;
    line-height: 22px;

    &--icon {
      vertical-align: middle;
    }
  }
  &__errorword {
    @include font(16px, 16px);
    color: $color-error;
  }

  &__input {
    @include font(16px, 22px);
    position: relative;
    flex: 1;
    color: $at-input-text-color;

    /*  #ifdef  rn  */
    height: 22px;
    line-height: 19.5px;
    padding-vertical: 0;
    /*  #endif  */

    /*  #ifndef  rn  */
    display: inline-block;
    vertical-align: middle;
    /*  #endif  */
  }

  &__placeholder {
    @include font(16px, 22px);
  }

  input {
    @include font(16px);
    height: auto;
    color: $at-input-text-color;
  }
  textarea {
    color: $at-input-text-color;
  }
  &__icon {
    align-items: center;
    justify-content: center;
    max-width: $at-input-icon-max-size-lg;
    max-height: $at-input-icon-max-size-lg;
    text-align: center;
    /*  #ifndef  rn  */
    display: inline-flex;
    line-height: 1;
    /*  #endif  */

    &-close {
      color: #ccc;
    }

    &-alert {
      color: #ff4949;
    }
  }
  &__button {
    margin-left: $spacing-h-lg;
  }
  &__children {
    /*  #ifndef  rn  */
    display: inline-flex;
    /*  #endif  */
    > view,
    div,
    span,
    text,
    image,
    .taro-img {
      display: inline-block;
      @include font(16px);
      text-align: center;
    }

    > image,
    img,
    .taro-img {
      display: inline-block;
      width: 145px;
      height: 60px;
      vertical-align: middle;
    }
  }
  &--disabled {
    /*  #ifndef  rn  */
    cursor: not-allowed;
    /*  #endif  */
    opacity: $opacity-disabled;
  }
}
.at-input-group {
  background-color: $color-bg-base;
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  position: relative;
  padding: 0;
  &__titlebox {
    max-width: $at-input-title-limit;
    padding-left: 16px;
    &__title {
      /*  #ifdef  rn  */
      @include font(16px);
      /*  #endif  */
      /*  #ifdef  rn  */
      font-size: 16px;
      line-height: 16px;
      height: 16px;
      /*  #endif  */
    }
  }
  &__label {
    @include font(16px);

    margin: 0 8px 0 16px;

    &--last {
      margin-right: 0;
    }

    label {
      height: 16px;
    }
  }
  &__input {
    @include font(16px);
    flex: 1;
    color: $at-input-label-color;
    background-color: $color-bg-base;
    /*  #ifdef  rn  */
    height: 22px;
    line-height: 19.5px;
    padding-vertical: 0;
    /*  #endif  */
  }
  input {
    @include font(16px);
    height: auto;
    color: $at-input-text-color;
  }
}
form {
  .at-input {
    padding: 0;
    /*  #ifndef  rn  */
    vertical-align: middle;
    /*  #endif  */
    &-contentbox {
      margin-left: 0;
    }
    &__content {
    }
    &-group {
      /*  #ifndef  rn  */
      vertical-align: middle;
      /*  #endif  */
      &-contentbox {
        margin-left: 0;
      }
      &__content {
        max-height: 16px;
      }
    }
  }
}
