@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-list-item {
  &-content {
    display: flex;
    flex-direction: row;
    padding: $spacing-h-lg - 3px $spacing-h-lg;

    /* prefix */
    &-prefix {
      @include font(16px);
      padding-right: $spacing-h-lg;
    }

    &-extra {
      @include font(16px);
      padding-left: $spacing-h-lg;

      &-ellipsis {
        @include line(1)
      }
    }

    &-arrow {
      line-height: 0;
      padding-left: 4px;

      &-icon {
        line-height: 22px;
        margin-top: 3px;
      }
    }

    /* main */
    &-main {
      flex: 1;
    }

  }

  &-title {
    @include font(16px);
    display: flex;
    flex-direction: row;
  }

  &-description {
    @include font(14px);
    margin-top: $spacing-v-md - 6px;

    &-right {
      text-align: right;
    }
  }

  /* main */

  &-vertical {}

  &-horizontal {}

  &-disabled {
    /*  #ifndef  rn  */
    cursor: not-allowed;
    opacity: 0.3;
    /*  endif  */
  }

}
