@use "sass:math";
@import '../variables/default.scss';
@import '../mixins/index.scss';

.at-tag {
  /*  #ifdef  rn  */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*  #endif  */

  /*  #ifndef  rn  */
  display: inline-block;
  /*  #endif  */

  text-align: center;
  border-radius: $radius-sm;
  background-color: $color-border-base;
  line-height: 0;

  &--text {
    @include font(14px, 14px);
    color: $color-text-base;
  }

  &--disabled {
    opacity: $opacity-disabled;
  }

  &--normal {
    padding: 9px $spacing-h-lg;
    background-color: $color-bg-base;

    @include hairline-surround($color-text-ghost, solid, 1px, 8px);
  }

  &--small {
    padding: 7px $spacing-h-md;

    @include hairline-surround(transparent, solid, 1px, 8px);
  }

  &--active {
    // TODO: taro bug 不能编译 border-color rgba
    /*  #ifdef  rn  */
    border-color: rgba($color: $color-brand, $alpha: 1);
    /*  #endif  */
    /*  #ifndef  rn  */
    border-color: rgba($color: $color-brand, $alpha: 0.3);
    /*  #endif  */
    background-color: rgba($color: $color-brand, $alpha: 0.04);

    @include hairline-surround($color-brand, solid, 1px, 8px);

    &--text {
      color: $color-brand;
      font-weight: bold;
    }
  }

  &-gap {
    margin-right: $spacing-h-sm;
    margin-bottom: $spacing-h-sm;
  }
}

.at-tag-group {
  display: flex;
  flex-direction: row;
  background-color: $color-bg-base;
  /*  #ifndef  rn  */
  box-sizing: border-box;
  // white-space: nowrap;
  /*  #endif  */

  &--wrap {
    flex-direction: row;
    margin-left: $spacing-h-lg;
    /*  #ifndef  rn  */
    box-sizing: border-box;
    white-space: nowrap;
    padding-right: 24px;
    /*  #endif  */
  }

  /* size */
  &--normal {
    padding: 10px 0 2px 0;
  }

  &--small {
    padding: 8px 0 0 0;
  }
  /* size */

  &--iswrap {
    flex-wrap: wrap;
    padding-left: $spacing-h-lg;
    /*  #ifndef  rn  */
    white-space: normal;
    /*  #endif  */
  }

  /* type */
  &--form {
    margin-bottom: -1 * $spacing-h-sm;
    padding-left: 0;
  }
  /* type */

  &--gap {
    width: 8px;
    /*  #ifndef  rn  */
    display: inline-block;
    /*  #endif  */
  }

}
