@import '../../style/variables/default.scss';
@import '../../style/mixins/index.scss';

.at-textarea {
  position: relative;

  &__input {
    /* TODO: 设计稿行高 24 */
    // @include font(16px, 24px);
    @include font(16px);
    position: relative;
    width: 100%;
    color: $color-text-base;
    padding: 0;
    /*  #ifndef  rn  */
    height: inherit;
    /*  #endif  */

    /*  #ifndef  rn  */
    .taro-textarea {
      @include font(16px);
      color: $color-text-base;
      height: inherit;
      line-height: inherit;
    }
    /*  #endif  */

    // weapp 只支持 font 和 color 设置
    &--placeholder {
      @include font(16px);
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    margin-bottom: -3px;

    &--error {
      @include font(14px);
      flex: 1;
      margin-top: $spacing-v-md - 3px;
      color: $color-error;
    }

    &--gap {
      flex: 1;
    }

    &--count{
      @include font(14px);
      margin-top: $spacing-v-md - 3px;
      color: $color-text-subtle;

      &__error {
        color: $color-error;
      }
    }
  }
}
