@import '../variables/default.scss';
@import '../mixins/index.scss';

$at-toast-max-width: 280px !default;
$at-toast-color: $color-white;

.at-toast {
    /*  #ifdef  rn  */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include absolute-center-child();
    /*  #endif  */
    &__overlay {
      @include overlay;
      opacity: 0;
      /*  #ifndef  rn  */
      position: fixed;
      z-index: $zindex-toast;
      /*  #endif  */
    }
    &-body {
        /*  #ifndef  rn  */
        @include absolute-center(fixed);
        z-index: $zindex-toast;
        /*  #endif  */
        /*  #ifdef  rn  */
        @include absolute-center();
        /*  #endif  */
        padding: $spacing-v-lg $spacing-h-lg;
        border-radius: $toast-radius;
        background-color: $toast-bg;
        max-width: $at-toast-max-width;
  
        &-content {
          &__info {
            @include font(16px);
            color: $at-toast-color;
            text-align: center;
            /*  #ifdef  rn  */
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /*  #endif  */
          }
        }
     }
}
