@import '../variables/default.scss';
@import '../mixins/index.scss';
$at-toast-max-width: 280px !default;
$at-toast-image-size: 120px !default;
$at-toast-font-size: $font-size-lg/2 !default;
$at-toast-icon-size: 80px !default;
$at-toast-color: $color-white;
.at-toast {
    // flex-direction: row;
    // justify-content: center;
    // width: 280px;
    // height: 60px;
    // border-radius: 6px;
    // opacity: 0.1;
    // background-color:red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include absolute-center-child();
    // @include absolute-center(absolute);
    // position: relative;
    // width: 280px;
    // height: 100px;
    // background-color: blue;
    /* elements */


    &__overlay {
      @include overlay;
  
      position: fixed;
      opacity: 0;
      z-index: $zindex-toast;
    }
  
    // &__body {
    //   &--loading {
    //     .toast-body-content__img-item {
    //       animation: atRotate 1350ms linear infinite;
    //     }
    //   }
    // }
    .toast-body {
        @include absolute-center();
        // flex: 1;
        // justify-content: center;
        // align-items: flex-start;
        padding-left: 25px;
        padding-right: 25px;
        max-width: 280px;
        background-color: #ccc;
        // @include absolute-center(absolute);
        // padding: $spacing-v-lg $spacing-h-xl;
        // // min-width: $at-toast-min-width;
        // max-width: $at-toast-max-width;
        // border-radius: $toast-radius;
        // background-color: $toast-bg;
        // z-index: $zindex-toast;
    
        // &-content {
        //   &__info {
        //     margin-top: $spacing-v-md;
        //     color: $at-toast-color;
        //     font-size: $at-toast-font-size;
        //     line-height: $line-height-zh;
        //     text-align: center;
        //   }
        // }
    
        // &--text {
        //   padding: $spacing-v-lg $spacing-h-lg;
        //   line-height: $line-height-zh;
        //   min-width: initial;
        //   font-size: $at-toast-font-size;
        //   .toast-body-content__info {
        //     margin-top: 0;
        //   }
        // }
      }

}
// .toast-body-content {
//     width: 100px;
//     height: 100px;
//     background-color: blue;
// }
.leadingBorder {
//    bo
}
.toast-body-content__info {
    color:  blue;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    width: 100%;
}