.example__body {
  background-color: #f8f8f8;
  min-height: 100px;
  padding: 30px 10px 80px;

  .item {
    margin-bottom: 10px;
  }

  .tab-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #f8f8f8;
    background-color: #fff;
  }
}
