/*postcss-pxtransform disable*/
@import '../../style/mixins';

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.at-activity-indicator {
  display: inline-block;

  &--center{
    @include absolute-center;
  }

  &__body {
    width: 100px;
    height: 100px;
    position: relative;
    transform: translate(-50px, -50px) scale(.5) translate(50px, 50px);
 
    &-item {
      left: 94px;
      top: 48px;
      position: absolute;
      animation: lds-spinner linear 1.5s infinite;
      background: #6690ed;
      width: 12px;
      height: 24px;
      border-radius: 40%;
      transform-origin: 6px 52px;
      @for $i from 0 to 12 {
        &:nth-child(#{$i}) {
          transform: rotate(#{$i * 30}deg);
          animation-delay: #{($i - 1) * 0.125}s;
        }
      }
    }
  }
  &__content{
    text-align: center;
    font-size: 16px;
  }
}
