@import "../../style/mixins/index.scss";
@import "../../style/theme/default.scss";

@keyframes atRotate {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.at-activity-indicator {
  display: inline-block;
  line-height: $line-height-base;

  &--center {
    @include absolute-center;
  }

  &__body {
    line-height: 0;
    display: inline-block;
    animation: atRotate 1350ms linear infinite;
  }

  &__content {
    font-size: 28px;
    margin-left: 16px;
    color: $color-grey-2;
  }
}
