@import "../../../../style/mixins/index.scss";
@import "../../../../style/theme/default.scss";

$daySize: 72px;
$markSize: 8px;

.at-calendar__list.flex {
  @include display-flex;
  @include align-items();
  @include flex-wrap(wrap);

  color: #7c86a2;

  .flex__item {
    @include flex(0 0 calc(100% / 7));

    font-size: 30px;
    text-align: center;
    position: relative;
    margin: 5px 0;

    &-container {
      @include align-items(center);
      @include display-flex;

      width: $daySize;
      height: $daySize;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;

      .container-text {
        @include flex;
      }
    }

    &-extra {
      .extra-marks {
        position: absolute;
        bottom: 5px;
        line-height: 0;
        left: 50%;
        transform: translateX(-50%);

        .mark {
          width: $markSize;
          height: $markSize;
          margin-right: 4px;
          display: inline-block;
          background-color: $color-brand;
          border-radius: 50%;
          overflow: hidden;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    &--today {
      color: $color-brand;
      font-weight: bolder;
    }

    &--blur {
      color: #e1e4e7;
    }

    &--selected {
      color: white;
      background-color: rgba($color: $color-brand, $alpha: 0.7);

      &-head {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }

      &-tail {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
      }

      /* stylelint-disable-next-line */
      .extra-marks .mark {
        background-color: white;
      }

      &-head.flex__item--selected-tail {
        background-color: transparent;

        .flex__item-container {
          background-color: rgba($color: $color-brand, $alpha: 0.7);
        }
      }
    }
  }
}
