@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-segmented-control {
  display: flex;
  text-align: center;
  width: 100%;
  border-radius: $border-radius-md;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  @include border-thin(#6190E8);

  &__item {
    flex: 1;
    min-height: 10px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding: $spacing-v-sm;
    color: $color-text-base;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
  }

  &__item + &__item {
    @include border-thin-left(#6190E8);
  }

  &--disabled {
    opacity: $opacity-disabled;
  }
}
