@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-segmented-control {
  display: inline-flex;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: $border-radius-md;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  @include border-thin($color: $color-brand, $width: 1PX);

  &__item {
    flex: 1;
    box-sizing: border-box;
    padding: $spacing-v-xs $spacing-h-sm;
    min-width: 120px;
    min-height: 20px;
    color: $color-text-base;
    font-size: $font-size-base;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: $color-bg;
    overflow: hidden;
    transition: all 0.3s $ease-in-out-cubic;
  }

  &__item + &__item {
    @include border-thin-left($color: $color-brand, $width: 1PX);
  }

  &--disabled {
    opacity: $opacity-disabled;
  }
}
