@import "../../../style/theme/default";

.at-modal-content {
  min-height: 180px;
  padding: $spacing-h-xl $spacing-h-lg;
  color: $color-text-base;
  font-size: $font-size-base;
  box-sizing: border-box;
}
