@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-nav-bar {
  display: flex;
  width: 100%;
  padding: $spacing-v-sm;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  @include border-thin-bottom;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
  }

  &__left_view {
    flex: 2;
    text-align: left;
    overflow: hidden;
  }

  &__left_text {
    font-size: $font-size-lg;
    vertical-align: middle;
    display: inline-block;
  }

  &__right_view {
    flex: 2;
    overflow: hidden;
    text-align: right;
  }

  &__title {
    flex: 5;
    font-size: $font-size-base;
    color: $color-text-base;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__text {
    display: inline-block;
    font-size: $font-size-base;
  }

  &__container {
    width: 50%;
    display: inline-block;
    text-align: center;
  }
}
