@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';
$spacing-v: 9PX;
$spacing-h: 5PX;
$font-size: 18PX;

.at-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $color-bg;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  @include hairline-bottom();

  &--no-border {
    &::after {
      border-bottom-width: 0;
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
  }

  &__left_view {
    flex: 2;
    font-size: $font-size;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    padding: $spacing-v $spacing-h;
    @include active;
  }

  &__right_view {
    flex: 2;
    overflow: hidden;
    height: 100%;
    text-align: right;
  }

  &__title {
    flex: 5;
    color: $color-text-base;
    font-size: $font-size;
    text-align: center;
    vertical-align: middle;
    line-height: $line-height-base;
    @include line;
  }

  &__text {
    display: inline-block;
    font-size: $font-size - 2PX;
    height: 100%;
    padding-left: $spacing-h;
    vertical-align: middle;
    line-height: $line-height-base;
    @include line;
  }

  &__container {
    width: 50%;
    height: 100%;
    font-size: $font-size;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: $spacing-v $spacing-h;
    @include active;

    &--hide {
      display: inline-block;
      visibility: hidden;
    }
  }
}
