@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';

.at-nav-bar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $color-border-grey;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
  }

  &__left_view {
    flex: 2;
    text-align: left;
    overflow: hidden;
  }

  &__left_text {
    font-size: 35px;
    vertical-align: middle;
    display: inline-block;
  }

  &__right_view {
    flex: 2;
    overflow: hidden;
    text-align: right;
  }

  &__title {
    flex: 5;
    font-size: 30px;
    color: $color-text-base;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
  }

  &__container {
    width: 50%;
    display: inline-block;
    text-align: center;
    color: $color-link;
  }
}
