@import '../../style/mixins/index.scss';
@import '../../style/theme/default.scss';
$height: 28PX;
$inputPadding: 25PX;
$fontSize: 14PX;
$placeholderPadding: 5PX;

.at-search-bar {
  display: flex;
  align-items: center;
  height: $height;
  padding: $fontSize / 2;
  box-sizing: content-box;
  overflow: hidden;
  background-color: $color-bg;
  @include hairline-bottom();

  &__container {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: $height;
    background-color: $color-bg-grey;
    border-radius: 13PX;
  }

  &__placeholder_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: $height;
    line-height: 0;
    padding: 0 $placeholderPadding;
    transition: width 0.3s;
  }

  &__placeholder {
    margin-left: $placeholderPadding;
    color: $color-grey-2;
    font-size: $fontSize;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: $height !important;
    top: 0;
    left: 0;
    display: block;
    font-size: $fontSize !important;
    padding: 5PX $inputPadding + $placeholderPadding;
    z-index: $zindex-form;
    transition: width 0.3s;
    text-align: left;
    box-sizing: border-box;
    color: $color-black-0;
    background-color: transparent;
  }

  &__clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: $placeholderPadding;
    z-index: $zindex-form;
    height: $height;
    width: $inputPadding;
    line-height: 0;
    vertical-align: middle;
  }

  &__action {
    display: block;
    flex: none;
    background-color: #6190E8;
    opacity: 0;
    height: $height;
    line-height: $height;
    font-size: $fontSize;
    padding: 0 $fontSize / 2;
    margin-left: $fontSize / 2;
    color: #fff;
    text-align: right;
    border-radius: 5PX;
    transition: margin-right 0.3s, opacity 0.3s;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-nav;
  }
}
