{
  "presets": [
    [
      "@babel/preset-env",
      {
        "spec": true,
        "modules": false,
        "targets": {
          "browsers": ["ie >= 9", "Chrome >= 21", "Firefox >= 1", "Edge >= 13", "last 3 versions"]
        },
        "loose": false,
        "forceAllTransforms" : true,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "Nerv.createElement"
      }
    ]
  ]
}
