#app {
  background-color: #f8f8f8;
}

// 实例模板
.example {
  padding: 10px 20px;
  margin-bottom: 10px;

  &:not(:first-child) {
    border-top: 40px solid #f5f5f5;
  }

  &__header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: #e5e5e5, $alpha: 1);

    &-title {
      color: #999;
      font-size: 28px;
    }
  }
}

// Flex 展示样式
.flex__page {
  .at-flex__item {
    color: white;
    text-align: center;

    &:nth-child(odd) {
      background-color: #6190e8;
    }

    &:nth-child(even) {
      background-color: #78a4f4;
    }
  }
}
