@import "./style/theme/default.scss";

#app {
  background-color: #F8F8F8;
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #F8F8F8;
}

view {
  box-sizing: border-box;
}

// 实例模板
.example {
  padding: 10px 20px;
  margin-bottom: 10px;

  &:not(:first-child) {
    border-top: 40px solid #f5f5f5;
  }

  &__header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-grey-4;

    &-title {
      color: $color-grey-2;
      font-size: 28px;
    }

    &-note {
      font-size: 24px;
      margin-left: 20px;
      color: $color-grey-3;
    }
  }
}

// Flex 展示样式
.flex__page {
  .at-flex {
    margin-bottom: 40px;

    &__item {
      color: white;
      text-align: center;

      &:nth-child(odd) {
        background-color: #6190e8;
      }

      &:nth-child(even) {
        background-color: #78a4f4;
      }
    }
  }
}

/**
 * 分类页样式
 */
.panel-header {
  display: flex;
  align-items: center;
  padding: 60px;
  height: 180px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #78A4FA;
    text-align: center;
    background: #fff;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.11);
    border-radius: 10px;
  }

  &__title {
    margin-left: 32px;
    color: #78A4FA;
    font-size: 36px;
    font-weight: bold;
  }
}

.panel-body {
  min-height: calc(100vh - 180px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
}

.component-list {
  margin: 20px 60px 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid #D8D8D8;

    .name {
      color: #1D1D26;
      font-size: 28px;
    }
  }
}

/**
 * 文档 DEMO 页
 */
.doc-header {
  display: flex;
  align-items: center;
  padding: 60px;
  height: 180px;

  &__title {
    position: relative;
    height: 90px;
    color: #333;
    font-size: 40px;
    font-weight: bold;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      width: 120px;
      height: 2PX;
      border-radius: 1PX;
      background-color: #6190E8;
    }
  }
}

.doc-body {
  min-height: calc(100vh - 180px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);

  .panel {
    margin: 32px 0 50px;

    &__title {
      position: relative;
      margin-bottom: 50px;
      padding-left: 28px;
      color: #6A6A77;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.5;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -20px;
        width: 2PX;
        height: 40px;
        background-color: #6190E8;
        box-shadow: 0 7px 12px 0 rgba(97, 144, 232, 0.20);
        border-radius: 1PX;
      }
    }
  }
}
