@import "./style/theme/default.scss";

#app {
  background-color: #f3f3f8;
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f3f3f8;
}

view {
  box-sizing: border-box;
}

// 实例模板
.example {
  padding: 10px 20px;
  margin-bottom: 10px;

  &:not(:first-child) {
    border-top: 40px solid #f5f5f5;
  }

  &__header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-grey-4;

    &-title {
      color: $color-grey-2;
      font-size: 28px;
    }

    &-note {
      font-size: 24px;
      margin-left: 20px;
      color: $color-grey-3;
    }
  }
}

// Flex 展示样式
.flex__page {
  .at-flex {
    margin-bottom: 40px;

    &__item {
      color: white;
      text-align: center;

      &:nth-child(odd) {
        background-color: #6190e8;
      }

      &:nth-child(even) {
        background-color: #78a4f4;
      }
    }
  }
}
