@import '../../../style/mixins/libs/flex.scss';

.at-swipe-action__options {
  @include align-items(center);

  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}
