@import "../../style/mixins/index.scss";
@import '../../style/theme/default.scss';

.at-slider {
  display: flex;
  align-items: center;

  &__inner {
    flex: 1;
  }

  &__text {
    width: 80px;
    color: $color-grey-2;
    font-size: $font-size-base;
    text-align: center;
  }

  &--disabled {
    .at-slider__inner {
      opacity: $opacity-disabled;
    }
  }
}
