.at-action-input {
  margin: 10px;
  padding: 22px 0 22px 20px;
  border-radius: 8px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    display: inline-flex;
    font-size: 28px;
    min-width: 60%;

    input {
      width: 100%;
    }

    &--without-action {
      width: 90%;
    }
  }

  &__action {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__icon {
    padding: 0 20px;
  }

  &__tip {
    font-size: 24px;
    display: inline-flex;
    border-left: #e7e7e7 solid 1px;
    padding: 0 20px;
    color: #e93b3d;

    &--disabled {
      opacity: 0.5;
    }
  }
}
